<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      id="spinner"
      style="color: #ffbb00"
      *ngIf="isLoading"
    ></i>
    <div id="topSection" *ngIf="!isLoading">
      <div id="nav">
        <span id="title">{{ note.name }}</span>
      </div>
      <!-- <button id="backBtn" routerLink="/notes">powrót</button> -->
      <button id="backBtn" (click)="back()">powrót</button>
    </div>

    <quill-view-html
      *ngIf="!isLoading"
      id="text"
      [content]="htmlText"
      theme="snow"
    ></quill-view-html>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
