* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  row-gap: 0;
  background-color: #f3f3f3;
  font-family: "poppins", sans-serif;
}

nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 60rem;
}

#spinner {
  position: fixed;
  left: 50%;
  top: 50%;
}

#topSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49rem;
  min-height: 5rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#title {
  color: #310b61;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

#backBtn {
  position: absolute;
  right: 1rem;
  top: 5rem;
  text-decoration: none;
  background-color: rgba(218, 70, 96, 1);
  color: white;
  border: 0.1rem solid rgba(218, 70, 96, 1);
  border-radius: 2rem;
  width: 8rem;
  height: 2.5rem;
  align-self: flex-start;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
}

::ng-deep {
  #text {
    padding: 1rem;
    background-color: white;
    width: 21cm;
    min-height: 27.7cm;
    box-shadow: 0 0 0.313rem 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  #text div {
    width: 20cm;
    min-height: 27.7cm;
    border: none;
    background-color: white;
    overflow: auto;
  }

  @media (max-width: 830px) {
    #text {
      width: 15cm;
      min-height: 21.7cm;
    }

    #text div {
      width: 14cm;
      min-height: 21.7cm;
    }
  }

  @media (max-width: 600px) {
    #text {
      width: 12cm;
      min-height: 16.7cm;
    }

    #text div {
      width: 11cm;
      min-height: 16.7cm;
    }
  }

  @media (max-width: 480px) {
    #text {
      width: 10cm;
      min-height: 14.7cm;
    }

    #text div {
      width: 9cm;
      min-height: 14.7cm;
    }
  }

  @media (max-width: 400px) {
    #text {
      width: 8cm;
      min-height: 12.7cm;
    }

    #text div {
      width: 7cm;
      min-height: 12.7cm;
    }
  }
}

@media (max-width: 830px) {
  #topSection {
    width: 35rem;
  }
}

@media (max-width: 650px) {
  #backBtn {
    right: 1rem;
    top: 4.5rem;
    width: 6rem;
  }
}

@media (max-width: 600px) {
  #topSection {
    width: 28rem;
  }
  #title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  #topSection {
    width: 22rem;
  }

  #title {
    font-size: 1rem;
  }

  #backBtn {
    height: 2.5rem;
    align-self: flex-start;
  }
}

@media (max-width: 400px) {
  #topSection {
    width: 18rem;
  }
  #title {
    font-size: 0.8rem;
  }
}
