main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 0.5fr repeat(3, 1fr);
  grid-template-areas:
    "one empty1"
    "one page-name"
    "one form"
    "one login-to-account"
    "one or-btn"
    "one loginByPlatformG"
    "one loading"
    "one empty2";
  gap: 2rem;
  background-color: white;
  width: 100%;
  height: 100%;
  row-gap: 0;
  place-items: center;
  overflow: hidden;
  min-height: 50rem;
}

#leftSide:nth-child(1) {
  grid-row: 1/9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#login-img {
  grid-area: one;
  grid-column: 1/3;
  grid-row: 1;
  height: 100%;
  width: 100%;
}
#login-img-small {
  grid-area: one;
  grid-column: 1/3;
  grid-row: 1;
  height: 100%;
  width: 100%;
  display: none;
}

#login-img-mobile {
  display: none;
}

#logo {
  grid-area: one;
  grid-column: 1/4;
  grid-column: span 1/2;
  grid-row: 1;
  width: 9rem;
  height: 5rem;
  font-size: 1.5rem;
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  align-self: start;
  justify-self: start;
  margin: 1rem;
}

#logo:hover {
  cursor: pointer;
}

#logo2 {
  color: #f89e30;
}

#page-name {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  grid-area: page-name;
}

#register-form {
  grid-area: form;
}

.form-inputs {
  width: 25rem;
  height: 3rem;
  border-radius: 1.2rem;
  background-color: rgba(203, 197, 197, 0.7);
  border: 0.0625rem solid #e3e3e3;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-indent: 0.5rem;
  caret-color: #621ebb;
  margin-top: 0.5rem;
}

.form-inputs:focus {
  outline: none;
  background-color: rgba(203, 197, 197);
  border-color: #460699;
  box-shadow: 0 0 0.3rem #460699;
}

input.ng-invalid.ng-touched {
  border: 0.1rem solid rgb(224, 15, 15);
  box-shadow: 0 0 0.3rem rgb(223, 0, 0);
}

#registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 26rem;
}

.registerFormItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.1rem;
  width: 26rem;
}

.registerFormItem label {
  padding-left: 1rem;
}

.registerFormItem input {
  align-self: center;
}

.form-labels {
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.validators {
  width: 26rem;
}

.validators span {
  color: red;
}

#register-btn {
  border: none;
  font-family: "poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 25rem;
  height: 3rem;
  border-radius: 1.2rem;
  background-color: #621ebb;
  color: white;
}

#register-btn:hover {
  cursor: pointer;
}

#login-to-account-div {
  grid-area: login-to-account;
  width: 25rem;
  height: 2rem;
  display: grid;
  align-self: start;
}

#loadingContainer {
  grid-area: register;
}

#login-to-account {
  font-family: "poppins", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: black;
  align-self: center;
  justify-self: end;
  margin-right: 2rem;
}

#login-to-account-link {
  color: #310c62;
}

#login-to-account:hover {
  cursor: pointer;
}

#orDiv {
  grid-area: or-btn;

  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orLine-line {
  width: 11.5rem;
  height: 0.0625rem;
  border-radius: 0.5rem;
  background-color: black;
}

#orSpan {
  margin-inline: 0.5rem;
}

.LoginWithPlatformBtn {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 25rem;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.2rem;
}

.LoginWithPlatformBtn:hover {
  cursor: pointer;
}

.img-platform {
  margin-left: 1rem;
}

.LoginWithPlatformSpan {
  margin-left: 1rem;
}

#loginByPlatformG {
  grid-area: loginByPlatformG;
}

#loadingContainer {
  grid-area: loading;

  color: white;
}

#registerSuccessText {
  grid-area: form;
  font-family: "poppins", sans-serif;
}

@media (max-width: 1000px) {
  #login-img {
    grid-column: 1/4;
    grid-row: 1;
    height: 100%;
    width: 100%;
  }

  #logo {
    width: 9rem;
    height: 5rem;
    font-size: 1.2rem;
    color: white;
    align-self: start;
    justify-self: start;
    margin: 1.2rem;
  }
}

@media (max-width: 900px) {
  #registerForm {
    width: 18rem;
  }

  .registerFormItem {
    width: 18rem;
  }

  #page-name {
    font-size: 1.5rem;
  }

  .form-inputs {
    width: 18rem;
    height: 3rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    text-indent: 0.5rem;
    margin-top: 0.5rem;
  }

  .form-labels {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .validators {
    width: 18rem;
  }

  #register-btn {
    font-size: 1.5rem;
    width: 18rem;
    height: 3rem;
    border-radius: 1.2rem;
  }

  #login-to-account-div {
    width: 18rem;
    height: 2rem;
  }

  #login-to-account {
    font-size: 0.7rem;
    font-weight: 400;
    margin-right: 2rem;
  }

  #orDiv {
    width: 18rem;
  }

  #orSpan {
    margin-inline: 0.5rem;
  }

  .LoginWithPlatformBtn {
    width: 18rem;
    height: 3rem;
    border-radius: 1.2rem;
  }

  .img-platform {
    margin-left: 0.5rem;
  }

  .LoginWithPlatformSpan {
    margin-left: 0.5rem;
  }
}

@media (max-width: 670px) {
  #login-img {
    display: none;
  }
  #login-img-small {
    display: block;
  }
}

@media (max-width: 560px) {
  #registerForm {
    width: 14rem;
  }

  .registerFormItem {
    width: 14rem;
  }

  #logo {
    grid-row: 1/4;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
  }
  #login-img-small {
    grid-column: 1/4;
  }

  #page-name {
    font-size: 1rem;
  }

  .form-inputs {
    width: 14rem;
    font-size: 1rem;
  }

  .form-labels {
    font-size: 0.8rem;
  }

  .validators {
    width: 14rem;
  }

  #register-btn {
    font-size: 1rem;
    width: 14rem;
  }

  #login-to-account-div {
    width: 14rem;
    align-items: center;
    justify-content: center;
  }

  #login-to-account {
    font-size: 0.7rem;
    margin-left: 2rem;
  }

  #orDiv {
    width: 14rem;
  }

  .LoginWithPlatformBtn {
    width: 14rem;
  }

  .LoginWithPlatformSpan {
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

//Mobile
@media (max-width: 480px) {
  #login-img-small {
    display: none;
  }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 3fr 1fr 0.5fr repeat(3, 1fr);
    grid-template-areas:
      "one"
      " empty1"
      " page-name"
      " form"
      " login-to-account"
      " or-btn"
      " loginByPlatformG"
      " loading"
      " empty2";

    min-height: 65rem;
  }

  #leftSide:nth-child(1) {
    grid-row: 1;

    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
  }

  #login-img-mobile {
    display: grid;
    grid-area: one;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 100%;
  }

  #logo {
    grid-area: one;
    grid-column: 1/4;
    grid-column: span 1/2;
    grid-row: 1;
    width: 9rem;
    height: 5rem;
    color: white;

    align-self: start;
    justify-self: start;
  }

  .form-inputs {
    height: 3rem;
  }
}

@media (max-width: 400px) {
  #registerSuccessText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
