<main>
  <div id="leftSide">
    <img src="../../../assets/login_ellipse.png" alt="" id="login-img">
    <img src="../../../assets/login_Ellipse_small.png" alt="" id="login-img-small">
    <img src="../../../assets/login_Ellipse_mobile.png" alt="" id="login-img-mobile">
    <span id="logo">NoteBuddy<br><span id="logo2">To</span>Study</span>
  </div>


  <div id="page-name">Rejestracja</div>
  <div id="register-form">
    <form [formGroup]="registerForm" (ngSubmit)="addUser(registerForm.value)" id="registerForm">

      <div class="registerFormItem">

        <label class="form-labels">Login</label>
        <!-- <br> -->
        <input type="text" placeholder="wpisz login" class="form-inputs" formControlName="login">
        <!-- <br><br> -->

        <ng-container *ngIf="registerForm.get('login')!.hasError('required') && registerForm.get('login')!.touched">
         <div class="validators"> <span style="color:red;">&#x2022; To pole nie może być puste</span> </div>
        </ng-container>


        <ng-container *ngIf="registerForm.get('login')!.hasError('spaceValidator') && registerForm.get('login')!.touched && !registerForm.get('login')!.hasError('required')">
        <div class="validators"></div>  <span  style="color:red">&#x2022; To pole nie może posiadać znaków specjalnych oraz spacji </span>
        </ng-container>

      </div>


      <div class="registerFormItem">

        <label class="form-labels">Adres e-mail</label>
        <!-- <br> -->
        <input type="text" placeholder="wpisz e-mail" class="form-inputs" formControlName="mail">
        <!-- <br><br> -->
        <ng-container *ngIf="registerForm.get('mail')!.hasError('required') && registerForm.get('mail')!.touched">
          <div class="validators"> <span  style="color:red;" >&#x2022;To pole nie może być puste</span></div>
        </ng-container>

        <ng-container *ngIf="registerForm.get('mail')!.hasError('email') && registerForm.get('mail')!.touched && !registerForm.get('mail')!.hasError('required')">
          <div class="validators"> <span  style="color:red;">&#x2022; Niepoprawny format email "example@gmail.com"</span></div>
       </ng-container>

       <ng-container *ngIf="registerForm.get('mail')!.hasError('spaceValidator') && registerForm.get('mail')!.touched && !registerForm.get('mail')!.hasError('required')">
        <div class="validators"><span  style="color:red;">&#x2022; To pole nie może mieć spacji </span></div>
       </ng-container>

      </div>


      <div class="registerFormItem">

       <label class="form-labels">Hasło</label>
      <!-- <br> -->
        <input type="password" placeholder="minimum 7 znaków" class="form-inputs" formControlName="password">
      <!-- <br><br> -->

      <ng-container  *ngIf="registerForm.get('password')!.hasError('required') && registerForm.get('password')!.touched">
        <div class="validators"><span  style="color:red;">&#x2022; To pole nie może być puste</span></div>
      </ng-container>

      <ng-container  *ngIf="registerForm.get('password')!.hasError('passwordInvalid') && registerForm.get('password')!.touched && !registerForm.get('password')!.hasError('required')">
        <div class="validators"><span  style="color:red;">&#x2022; To pole  musi zawierać 7 znaków,duże i małe litery i znak specjalny </span></div>
      </ng-container>


        <ng-container *ngIf="registerForm.get('password')!.hasError('spaceValidator') && registerForm.get('password')!.touched && !registerForm.get('password')!.hasError('required')">
          <div class="validators"><span  style="color:red;">&#x2022; To pole nie może mieć spacji </span></div>
        </ng-container>

       </div>


      <br><input type="submit" value="Zarejestruj się" id="register-btn">
    </form>

  </div>

  <div id="login-to-account-div">
    <span id="login-to-account">masz już konto? <span id="login-to-account-link" routerLink="/login">zaloguj się</span></span>
  </div>


  <div id="orDiv">
    <div class="orLine-line"></div>
    <span id="orSpan" class="form-labels">lub</span>
    <div class="orLine-line"></div>
  </div>

  <div class="LoginWithPlatformBtn" id="loginByPlatformG">
    <img src="../../../assets/login_google_logo.png" alt="" class="img-platform">
    <span class="LoginWithPlatformSpan">Zaloguj się przez google</span>
  </div>

  <div class="LoginWithPlatformBtn" id="loginByPlatformF">
    <img src="../../../assets/login_facebook_logo.png" alt="" class="img-platform">
    <span class="LoginWithPlatformSpan">Zaloguj się przez facebook</span>
  </div>




  </main>
