<main id="container">
  <div id="leftSide">
    <img src="../../../assets/login_ellipse.png" alt="" id="login-img" />
    <img
      src="../../../assets/login_Ellipse_small.png"
      alt=""
      id="login-img-small"
    />
    <img
      src="../../../assets/login_Ellipse_mobile.png"
      alt=""
      id="login-img-mobile"
    />
    <span id="logo" routerLink="/landing"
      >NoteBuddy<br /><span id="logo2">To</span>Study</span
    >
  </div>

  <div id="page-name" *ngIf="!isUserRegistered">Rejestracja</div>
  <div id="register-form" *ngIf="!isUserRegistered">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="addUser(registerForm.value)"
      id="registerForm"
    >
      <div class="registerFormItem">
        <label for="loginInput" class="form-labels">Login</label>

        <input
          type="text"
          placeholder="wpisz login"
          id="loginInput"
          class="form-inputs"
          formControlName="login"
        />

        <ng-container
          *ngIf="
            registerForm.get('login')!.hasError('required') &&
            registerForm.get('login')!.touched
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może być puste</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('login')!.hasError('lowercaseInvalid') &&
            registerForm.get('login')!.touched &&
            !registerForm.get('login')!.hasError('required')
          "
        >
          <div class="validators">
            <span>&#x2022; login nie może mieć w sobie dużych liter</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('login')!.hasError('maxlength') &&
            registerForm.get('login')!.touched
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może mieć więcej niż 15 znaków</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            (registerForm.get('login')!.hasError('spaceValidator') &&
              registerForm.get('login')!.touched &&
              !registerForm.get('login')!.hasError('required')) ||
            (registerForm
              .get('login')!
              .hasError('loginSpecialCharacterError') &&
              registerForm.get('login')!.touched &&
              !registerForm.get('login')!.hasError('required'))
          "
        >
          <div class="validators"></div>
          <span style="color: red"
            >&#x2022; To pole nie może posiadać znaków specjalnych oraz spacji
          </span>
        </ng-container>

        <ng-container *ngIf="registerForm.get('login')!.hasError('loginExist')">
          <div class="validators">
            <span>&#x2022; Ten login jest już zajęty</span>
          </div>
        </ng-container>
      </div>

      <div class="registerFormItem">
        <label for="emailInput" class="form-labels">Adres e-mail</label>

        <input
          type="text"
          placeholder="wpisz e-mail"
          id="emailInput"
          class="form-inputs"
          formControlName="mail"
        />

        <ng-container
          *ngIf="
            registerForm.get('mail')!.hasError('required') &&
            registerForm.get('mail')!.touched
          "
        >
          <div class="validators">
            <span>&#x2022;To pole nie może być puste</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('mail')!.hasError('email') &&
            registerForm.get('mail')!.touched &&
            !registerForm.get('mail')!.hasError('required')
          "
        >
          <div class="validators">
            <span
              >&#x2022; Niepoprawny format email "example&#64;gmail.com"</span
            >
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('mail')!.hasError('spaceValidator') &&
            registerForm.get('mail')!.touched &&
            !registerForm.get('mail')!.hasError('required')
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może mieć spacji </span>
          </div>
        </ng-container>

        <ng-container *ngIf="registerForm.get('mail')!.hasError('emailExist')">
          <div class="validators">
            <span>&#x2022; Taki email już istnieje</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('mail')!.hasError('lowercaseInvalid') &&
            registerForm.get('mail')!.touched &&
            !registerForm.get('mail')!.hasError('required')
          "
        >
          <div class="validators">
            <span>&#x2022; email nie może mieć w sobie dużych liter</span>
          </div>
        </ng-container>
      </div>

      <div class="registerFormItem">
        <label for="passwordInput" class="form-labels">Hasło</label>

        <input
          type="password"
          placeholder="minimum 7 znaków"
          id="passwordInput"
          class="form-inputs"
          formControlName="password"
        />

        <ng-container
          *ngIf="
            registerForm.get('password')!.hasError('required') &&
            registerForm.get('password')!.touched
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może być puste</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('password')!.hasError('maxlength') &&
            registerForm.get('password')!.touched
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może mieć więcej niż 15 znaków</span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('password')!.hasError('passwordInvalid') &&
            registerForm.get('password')!.touched &&
            !registerForm.get('password')!.hasError('required')
          "
        >
          <div class="validators">
            <span
              >&#x2022; To pole musi zawierać 7 znaków (duże i małe litery,
              liczby i znaki specjalne)
            </span>
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            registerForm.get('password')!.hasError('spaceValidator') &&
            registerForm.get('password')!.touched &&
            !registerForm.get('password')!.hasError('required')
          "
        >
          <div class="validators">
            <span>&#x2022; To pole nie może mieć spacji </span>
          </div>
        </ng-container>
      </div>

      <br /><input type="submit" value="Zarejestruj się" id="register-btn" />
    </form>
  </div>

  <div id="login-to-account-div" *ngIf="!isUserRegistered">
    <span id="login-to-account"
      >masz już konto?
      <span id="login-to-account-link" routerLink="/login"
        >zaloguj się</span
      ></span
    >
  </div>
  <div id="loadingContainer">
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>
  </div>

  <div id="orDiv" *ngIf="!isUserRegistered">
    <div class="orLine-line"></div>
    <span id="orSpan" class="form-labels">lub</span>
    <div class="orLine-line"></div>
  </div>

  <div
    class="LoginWithPlatformBtn"
    id="loginByPlatformG"
    *ngIf="!isUserRegistered"
  ></div>

  <ng-container *ngIf="isUserRegistered">
    <span id="registerSuccessText"
      >Dziękujemy, rejestracja przebiegła pomyślnie.</span
    >
  </ng-container>
</main>
