<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>

    <button id="backBtn" routerLink="/groups">powrót</button>
    <div id="chat">
      <ng-container *ngIf="showChat">
        <ng-container *ngFor="let message of messages">
          <app-message-model
            [messageData]="message"
            [userAvatar]="getUsersAvatars(message.login)"
            [currUserLogin]="currentUser?.login"
          ></app-message-model>
        </ng-container>
      </ng-container>
    </div>

    <div class="chatInputContainer" *ngIf="showChat">
      <input
        #chatInput
        name="chatMessage"
        [(ngModel)]="newMessage"
        (keyup)="$event.keyCode === 13 && sendMessage()"
        type="text"
        placeholder="Aa"
        class="chatInput"
      />
      <div class="chatBtn" (click)="sendMessage()">
        <i class="fa-solid fa-chevron-right chevronBtn"></i>
      </div>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
