
<div id="container">

  <nav>
   <app-navbar></app-navbar>
  </nav>

  <main>
    <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl" style="color: #ffbb00;" *ngIf="isLoading" id="spinner"></i>
    <form [formGroup]="FilterForm"  id="filterForm">
    <div id="filters">
      <div id="categoryAndSubcategory" class="searchFilters">

        <div class="category">
          <span>Kierunek:</span>
          <div class="categoryAndsubcatList">
            <select class="categorySelect form-select" id="" formControlName="categoryName" [(ngModel)]="selectedCategory" (change)="applyFilters()" [disabled]="!onCategoryChange">
              <option value="" selected disabled hidden>Wybierz kierunek</option>

                <option value="">Wszystkie kierunki</option>
               <ng-container *ngFor="let cat of allCategories">
                <option [value]="cat._id">{{cat.name}}</option>
                </ng-container>
            </select>
          </div>
        </div>

        <div class="category">
          <span>Temat:</span>
          <div class="categoryAndsubcatList">
            <select class="categorySelect  form-select" id="subcategorySelect" formControlName="subcategoryName" (change)="applyFilters()">
              <option value="" selected disabled hidden>Wybierz temat</option>

               <ng-container *ngFor="let sub of subcategoriesArray">
                <option [value]="sub._id">{{sub.name}}</option>
                </ng-container>
            </select>
          </div>
        </div>

      </div>

      <div id="authorAndNoteName" class="searchFilters">
        <div class="category">
          <span>Autor:</span>
          <input type="text" placeholder="-" class="categorySelect form-control" formControlName="author" (input)="applyFilters()">
        </div>
        <div class="category">
          <span>Tytuł notatki:</span>
          <input type="text" placeholder="-" class="categorySelect form-control" formControlName="noteTitle" (input)="applyFilters()">
        </div>
      </div>
    </div>
  </form>



    <div id="addAndSortBtns">
      <div [routerLink]="['/note-add']" id="addNote">
        <i class="fa-solid fa-plus fa-lg" id="addNoteIcon"></i>
        <span id="addNoteLabel">dodaj notatkę</span>
      </div>

      <div id="sortBy">
        <span id="sortByLabel">sortuj po:</span>
        <div id="sortByDiv">
          <select  id="sortSelect" class="form-select" (change)="sortNotes($event)">
            <option value="newest">najnowsze</option>
            <option value="oldest">najstarsze</option>
            <option value="bestRate">najlepiej oceniane</option>
            <option value="worstRate">najgorzej oceniane</option>

          </select>
        </div>
      </div>

    </div>


    <div id="noteContent" >
      <ng-container *ngFor="let note of notesArray" >

        <app-notes-container [data]="note" [notesAndDetails]="notesWithDetails" (deleteNoteEvent)="refreshNoteData()"></app-notes-container>


      </ng-container>
    </div>


  </main>

  <footer>
   <div id="footerContent"><app-footer></app-footer></div>
  </footer>


</div>
