#container {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 0.5fr 3fr 0.4fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: 5rem;
  width: 100%;
  height: 100%;
  row-gap: 0;
  // place-items: center;
  // overflow: hidden;
  font-family: "poppins", sans-serif;
  background-color: white;
}

nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  gap: 1rem;
  background-color: white;
  // width: 100%;
  // height: 100%;
}

#spinner {
  position: fixed;
  left: 50%;
  top: 50%;
}

//! ważne
#filterForm {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
}

#filters {
  width: 65rem;
  height: 16rem;
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchFilters {
  width: 65rem;
  height: 6rem;
  background-color: rgba(177, 177, 177, 0.25);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.category {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  height: 3rem;
  // background-color: aquamarine;
}

.categoryAndsubcatList {
}

.categorySelect {
  width: 20rem;
  height: 3rem;
  text-decoration: none;
  background-color: rgba(177, 177, 177, 0.25);
  border-radius: 0.5rem;
  border: 1px solid rgba(177, 177, 177, 0.25);
}

.categorySelect:focus {
  border-color: #861486;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.075) inset,
    0rem 0px 0.2rem rgb(97, 6, 116);
}

.form-select:focus {
  border-color: #861486;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.075) inset,
    0rem 0px 0.2rem rgb(97, 6, 116);
}

#subcategorySelect {
  transition: 0.5s ease;
}

#subcategorySelect:disabled {
  background-color: rgb(211, 211, 211);
  border: 1px solid rgba(224, 224, 224, 0.25);
  color: rgb(124, 124, 124);
  transition: 0.5s ease;
}

#addAndSortBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58rem;
  height: 2rem;
}

#sortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#sortSelect {
  width: 12rem;
  height: 2.5rem;
  text-decoration: none;
  background-color: rgba(177, 177, 177, 0.25);
  border-radius: 0.5rem;
  border: 1px solid rgba(177, 177, 177, 0.25);
}

#addNote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #87ca52;
  width: 10rem;
  height: 2.5rem;
  border-radius: 2rem;
}

#addNote:hover {
  cursor: pointer;
}

#addNoteIcon {
  margin-right: 0.3rem;
}

#addNoteLabel {
  font-weight: 400;
}

#noteContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  // padding-bottom: 1rem ;
  max-width: 70rem;
  min-height: 40rem;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#footerContent {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

@media (max-width: 1500px) {
  #filterForm {
    // background-color: palegoldenrod;
  }

  #filters {
    width: 55rem;
    //  background-color: red;
  }

  .searchFilters {
    // background-color: brown;
    width: 55rem;
  }

  .category {
    // background-color: aquamarine;
    width: 25rem;
  }

  .categoryAndsubcatList {
    // background-color: red;
  }

  .categorySelect {
    // background-color: red;
    width: 15rem;
  }

  #addAndSortBtns {
    width: 54rem;
  }
}

@media (max-width: 930px) {
  #filterForm {
    height: 15rem;
    // background-color: lightcyan;
  }

  #filters {
    // height: 24rem;
    width: 50rem;
  }
  #categoryAndSubcategory {
    // flex-direction: column;
  }

  .searchFilters {
    width: 50rem;
  }

  .category span {
    width: 6.5rem;
    text-align: right;
  }

  #authorAndNoteName {
    // flex-direction: column;
  }

  #addAndSortBtns {
    width: 48rem;
    // background-color: lightpink;
  }
}

@media (max-width: 840px) {
  #filters {
    width: 46rem;
  }

  .searchFilters {
    width: 46rem;
  }

  .categorySelect {
    width: 13rem;
  }

  #addAndSortBtns {
    width: 44rem;
  }
}

@media (max-width: 768px) {
  #filterForm {
    height: 27rem;
  }

  #filters {
    height: 24rem;
    width: 32rem;
  }
  #categoryAndSubcategory {
    flex-direction: column;
  }

  .searchFilters {
    height: 15rem;
    width: 32rem;
    // background-color: green;
  }

  .category span {
    width: 6.5rem;
    text-align: right;
  }

  #authorAndNoteName {
    flex-direction: column;
  }

  #addAndSortBtns {
    width: 30rem;
    // background-color: lightpink;
  }
}

@media (max-width: 535px) {
  #filters {
    width: 25rem;
  }

  .searchFilters {
    width: 25rem;
  }

  #addAndSortBtns {
    width: 24rem;
    height: 7rem;
    // background-color: lightseagreen;
    align-items: flex-end;
  }

  #sortBy {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  #filters {
    width: 20rem;
    height: 25rem;
  }

  .searchFilters {
    height: 25rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .category {
    flex-direction: column;
    width: 13rem;
    height: 5rem;
    // background-color: aquamarine;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .category span {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  #addAndSortBtns {
    width: 16rem;
    height: 4rem;
    // background-color: lightseagreen;
    align-items: center;
  }

  #addNote {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }

  #addNoteIcon {
    // margin-right: .3rem;
    margin: 0;
    padding: 0;
  }

  #addNoteLabel {
    display: none;
  }

  #sortByLabel {
    display: none;
  }
}
