#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(177, 177, 177, 0.25);
  width: 22rem;
  height: 32rem;
  border-radius: 1rem;
  gap: 0.5rem;

  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  transition: 0.5s ease;
}

#container:hover {
  background-color: rgba(177, 177, 177, 0.35);
  box-shadow: 0rem 0rem 1.2rem rgb(136, 136, 136);
  transition: 0.5s ease;
}

#noteTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  // padding: 0.3rem 1rem;
  padding: 0.7rem 1rem 0.3rem;
}

#trustedAuthor {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#hoverMenu {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.icons {
  // visibility: hidden;
  transition: transform 0.5s ease;
}

.icons:hover {
  cursor: pointer;
  transition: 0.5s ease;
  transform: translateY(-0.1rem);
  color: #320b61;
}

#cardIcon {
  width: 1.2rem;
  height: 1.2rem;
}

#cardIcon:hover path {
  fill: #320b61;
}

#cardIcon:hover rect {
  stroke: #320b61;
}

.starColor {
  color: #320b61;
}

.starColor:hover {
  color: #3b0d72;
}

#svg-icon {
  fill: blue;
}

#svg-icon:hover {
  fill: red;
}

.spans {
  // background-color: red;
  width: 19rem;
}

#name {
  // padding-top: 0.2rem;
  text-align: center;
  font-size: 0.9rem;
  min-height: 3rem;
}

#desc {
  background-color: rgb(223, 222, 222);
  border: 0.1rem solid rgb(218, 218, 218);
  border-radius: 0.5rem;
  padding: 0.25rem;
  height: 20rem;
  width: 21rem;
}

::ng-deep {
  .ql-container.ql-snow.ngx-quill-view-html {
    // border: 0.1rem solid red;
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;
    width: 20.3rem;
    height: 19.3rem;
  }
  #desc .ql-editor {
    overflow: hidden;
  }
  .ql-font-arial {
    font-family: "Arial", sans-serif;
  }

  .ql-font-verdana {
    font-family: "Verdana";
  }

  .ql-font-timesnewroman {
    font-family: "Times New Roman";
  }

  .ql-font-roboto {
    font-family: "Roboto";
  }

  .ql-font-monospace {
    font-family: "Courier New", "monospace";
  }

  .ql-font-poppins {
    font-family: "Poppins", "serif";
  }

  #desc div {
    border: none;
  }
}

#categories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2rem;
  gap: 0.5rem;
  padding-left: 1rem;
}

.categoriesC {
  background-color: rgba(168, 168, 168, 0.2);
  color: #3f107a;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid rgba(201, 200, 200, 0.774);
}

#course {
  min-width: 7rem;
  // max-width: 12rem;
}

#subcategory {
  min-width: 9rem;
  max-width: 12rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  // background-color: rgba(240, 255, 255, 0.616);
  width: 98%;
  padding-bottom: 0.5rem;
}

#rates {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: lightcoral;
  width: 35%;
  height: 100%;
  gap: 0.2rem;
}

.ratesBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0.1rem solid rgba(177, 177, 177, 0.25);
  border-radius: 1rem;
  min-width: 3.5rem;
  min-height: 1.5rem;
}

#likeNumber {
  color: #55bb05;
}

#dislikeNumber {
  color: #de421f;
}

#authorAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // background-color: pink;
  width: 65%;
}

#authorName {
  font-size: 0.7rem;
}

#authorColor {
  color: #3e1079;
}

#lastEditDate {
  font-size: 0.6rem;
  color: #858585;
}
