<div id="container">
<span class="spans" id="name">{{data?.name}}</span>
<span class="spans" id="desc">{{data?.description}}</span>

<div id="categories">
  <span class="categoriesC" id="course">{{categoryName}}</span>
  <span class="categoriesC" id="subcategory">{{subCategoryName}}</span>
</div>


<div id="bottom">

  <div id="rates">
    <button class="ratesBtns">
      <span  id="likeNumber">{{data?.positive_reviews}}</span>
      <i class="fa fa-solid fa-thumbs-up fa-lg"></i>
    </button>

    <button class="ratesBtns">
      <span  id="dislikeNumber">{{data?.negative_reviews}}</span>
      <i class="fa-solid fa-thumbs-down fa-lg"></i>
    </button>
  </div>


  <div id="authorAndDate">
    <span  id="authorName">autor: <span id="authorColor">{{userName}}</span></span>
  <span  id="lastEditDate">Ostatnio aktualizowane: {{data?.last_edit_date}}</span>
  </div>

</div>


</div>
