<div id="container" (mouseover)="hoverEventOn()" (mouseleave)="hoverEventOff()">
  <div id="noteTop">
    <div id="trustedAuthor" *ngIf="!finalNote?.untrusted">
      <i class="fa-solid fa-check fa-lg" style="color: #0ebe2c"></i>
      <span>zaufany autor</span>
    </div>
    <div
      id="trustedAuthor"
      *ngIf="finalNote?.untrusted"
      style="visibility: hidden"
    >
      <i class="fa-solid fa-check fa-lg" style="color: #ff1100"></i>
      <span>niezaufany autor</span>
    </div>

    <div #container *ngIf="isVisible" id="hoverMenu">
      <i
        *ngIf="userRole === 'admin'"
        class="fa-solid fa-trash fa-xl icons"
        (click)="deleteNote(finalNote?.note_id)"
      ></i>
      <div id="downloadBtn">
        <i class="fa-solid fa-download fa-xl icons"></i>
      </div>

      <svg
        width="27"
        height="25"
        viewBox="0 0 27 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="icons"
        id="cardIcon"
        routerLink="/cards/{{ finalNote?.note_id }}"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M18 25H24C25.6569 25 27 23.6569 27 22V6C27 4.34315 25.6569 3 24 3H16H16V5H16H24C24.5523 5 25 5.44772 25 6V22C25 22.5523 24.5523 23 24 23H18V25Z"
          fill="black"
        />
        <rect
          x="1.27993"
          y="0.61715"
          width="11.977"
          height="19.7019"
          rx="3"
          transform="matrix(0.945608 -0.325309 0.334322 0.942459 -0.136709 4.99876)"
          stroke="black"
          stroke-width="2"
        />
      </svg>

      <!-- <i class="fa-regular fa-star fa-xl icons"></i>
      <i class="fa-solid fa-star fa-xl icons"></i> -->
      <div id="favoriteBtn" (click)="toogleStar()">
        <i
          [ngClass]="{
            'fa-regular': !isFilled,
            'fa-solid': isFilled,
            'fa-star': true,
            'fa-xl': true,
            'icons':true,
            'starColor':isFilled,
          }"
        ></i>
      </div>

      <i
        class="fa-solid fa-up-right-and-down-left-from-center fa-xl icons"
        routerLink="/note/{{ finalNote?.note_id }}"
      ></i>
    </div>
  </div>

  <span class="spans" id="name">{{ finalNote?.noteName }}</span>
  <quill-view-html
    class="spans"
    id="desc"
    [content]="htmlText"
    theme="snow"
    #desc
  ></quill-view-html>

  <div id="categories">
    <span class="categoriesC" id="course">{{ finalNote?.categoryName }}</span>
    <span class="categoriesC" id="subcategory">{{
      finalNote?.subcategoryName
    }}</span>
  </div>

  <div id="bottom">
    <div id="rates">
      <button id="positiveReviews" class="ratesBtns">
        <span id="likeNumber">{{ finalNote?.positive_reviews }}</span>
        <i class="fa fa-solid fa-thumbs-up fa-lg"></i>
      </button>

      <button id="negativeReviews" class="ratesBtns">
        <span id="dislikeNumber">{{ finalNote?.negative_reviews }}</span>
        <i class="fa-solid fa-thumbs-down fa-lg"></i>
      </button>
    </div>

    <div id="authorAndDate">
      <span id="authorName"
        >autor: <span id="authorColor">{{ finalNote?.login }}</span></span
      >
      <span id="lastEditDate"
        >Ostatnio aktualizowane:
        {{ finalNote?.last_edit_date | date : "dd-MM-yyyy HH:mm" }}</span
      >
    </div>
  </div>
</div>
