<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>

    <button id="backBtn" routerLink="/notes">powrót</button>
    <div id="myGroupsContainer" *ngIf="!isLoading">
      <p id="title">Twoje grupy:</p>
      <div id="groupContainer">
        <ng-container *ngIf="groups.length !== 0">
          <ng-container *ngFor="let group of groups">
            <app-group-model
              [groupData]="group"
              (leaveGroup)="leaveGroup($event)"
            ></app-group-model>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="groups.length == 0">Brak grup</ng-container>
      </div>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
