<main>
<div id="leftSide">
  <span id="logo">NoteBuddy<br><span id="logo2">To</span>Study</span>
  <!-- <div id="background-img"><img src="../../../assets/login_ellipse.png" alt="" id="login-img"></div> -->
</div>


<div id="page-name">Logowanie</div>
<div id="login-form">
  <form [formGroup]="loginForm">
    <label>Login</label><br>

    <label>Hasło</label><br>

    <input type="submit" value="Zaloguj się">
  </form>

</div>

<div id="orDiv">
  <span class="orLine-line"></span>
  <span id="orSpan">lub</span>
  <span class="orLine-line"></span>
</div>

<div class="LoginWithPlatformBtn" id="loginByPlatformG">
  <img src="" alt="" class="img-platform">
  <span class="LoginWithPlatformSpan">Zaloguj się przez google</span>
</div>

<div class="LoginWithPlatformBtn" id="loginByPlatformF">
  <img src="" alt="" class="img-platform">
  <span class="LoginWithPlatformSpan">Zaloguj się przez facebook</span>
</div>


</main>
