<main id="container">
  <div id="leftSide">
    <img src="../../../assets/login_ellipse.png" alt="" id="login-img" />
    <img
      src="../../../assets/login_Ellipse_small.png"
      alt=""
      id="login-img-small"
    />
    <img
      src="../../../assets/login_Ellipse_mobile.png"
      alt=""
      id="login-img-mobile"
    />
    <span id="logo" routerLink="/landing"
      >NoteBuddy<br /><span id="logo2">To</span>Study</span
    >
  </div>

  <div id="page-name">Logowanie</div>
  <div id="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <label for="loginInput" class="form-labels">Login</label><br />
      <input
        type="text"
        formControlName="login"
        placeholder="wpisz login"
        id="loginInput"
        class="form-inputs"
      />
      <ng-container
        *ngIf="
          loginForm.get('login')!.hasError('required') &&
          loginForm.get('login')!.touched
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może być puste</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('login')!.hasError('lowercaseInvalid') &&
          loginForm.get('login')!.touched &&
          !loginForm.get('login')!.hasError('required')
        "
      >
        <div class="validators">
          <span>&#x2022; login nie może mieć w sobie dużych liter</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('login')!.hasError('maxlength') &&
          loginForm.get('login')!.touched
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może mieć więcej niż 15 znaków</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('login')!.hasError('spaceValidator') &&
          loginForm.get('login')!.touched &&
          !loginForm.get('login')!.hasError('required')
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może mieć spacji </span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('login')!.hasError('loginSpecialCharacterError') &&
          loginForm.get('login')!.touched &&
          !loginForm.get('login')!.hasError('required')
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może mieć znaków specjalnych </span>
        </div>
      </ng-container>

      <br /><br />
      <label for="passwordInput" class="form-labels">Hasło</label><br />
      <input
        type="password"
        formControlName="password"
        placeholder="wpisz swoje hasło"
        id="passwordInput"
        class="form-inputs"
      />

      <ng-container
        *ngIf="
          loginForm.get('password')!.hasError('required') &&
          loginForm.get('password')!.touched
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może być puste</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('password')!.hasError('maxlength') &&
          loginForm.get('password')!.touched
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może mieć więcej niż 15 znaków</span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="
          loginForm.get('password')!.hasError('spaceValidator') &&
          loginForm.get('password')!.touched &&
          !loginForm.get('password')!.hasError('required')
        "
      >
        <div class="validators">
          <span>&#x2022; To pole nie może mieć spacji </span>
        </div>
      </ng-container>

      <ng-container
        *ngIf="loginForm.get('password')!.hasError('wrongLoginOrPassword')"
      >
        <div class="validators">
          <span>&#x2022; Login lub hasło jest niepoprawne</span>
        </div>
      </ng-container>

      <br /><br />
      <input
        type="submit"
        value="Zaloguj się"
        id="login-btn"
        [disabled]="!loginForm.valid"
      />
    </form>
  </div>

  <div id="register-div">
    <span id="register" routerLink="/register"
      >Nie masz konta? zarejestruj się</span
    >
  </div>
  <div id="loadingContainer">
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>
  </div>

  <div id="orDiv">
    <div class="orLine-line"></div>
    <span id="orSpan" class="form-labels">lub</span>
    <div class="orLine-line"></div>
  </div>

  <div class="LoginWithPlatformBtn" id="loginByPlatformG"></div>
</main>
