<main>
<div id="leftSide">
  <img src="../../../assets/login_ellipse.png" alt="" id="login-img">
  <span id="logo">NoteBuddy<br><span id="logo2">To</span>Study</span>
</div>


<div id="page-name">Logowanie</div>
<div id="login-form">
  <form [formGroup]="loginForm">
    <label class="form-labels">Login</label><br>
    <input type="text" placeholder="wpisz login" class="form-inputs"><br><br>
    <label class="form-labels">Hasło</label><br>
    <input type="password" placeholder="wpisz swoje hasło" class="form-inputs"><br><br>
    <input type="submit" value="Zaloguj się" id="login-btn">
  </form>

</div>

<div id="forgot-password-div">
  <span id="forgot-password">zapomniałem hasło</span>
</div>


<div id="orDiv">
  <div class="orLine-line"></div>
  <span id="orSpan" class="form-labels">lub</span>
  <div class="orLine-line"></div>
</div>

<div class="LoginWithPlatformBtn" id="loginByPlatformG">
  <img src="../../../assets/login_google_logo.png" alt="" class="img-platform">
  <span class="LoginWithPlatformSpan">Zaloguj się przez google</span>
</div>

<div class="LoginWithPlatformBtn" id="loginByPlatformF">
  <img src="../../../assets/login_facebook_logo.png" alt="" class="img-platform">
  <span class="LoginWithPlatformSpan">Zaloguj się przez facebook</span>
</div>




</main>
