#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 0.4fr;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: 5rem;
  background-color: white;
  width: 100%;
  height: 100%;
  row-gap: 0;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
}

nav {
  grid-area: nav;
  width: 100%;
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#backBtn {
  position: absolute;
  right: 1rem;
  top: 5rem;
  text-decoration: none;
  background-color: rgba(218, 70, 96, 1);
  color: white;
  border: 0.1rem solid rgba(218, 70, 96, 1);
  border-radius: 2rem;
  width: 8rem;
  height: 2.5rem;
  align-self: flex-start;
}

// footer
// {
//   grid-area: footer;

//   position: relative;
//   width: 100%;
//   height: 100%;
//   background-color: #222;
//   padding: 0;
//   margin: 0;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

footer {
  grid-area: footer;

  // position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#footerContent {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.displayClass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#subjectName {
  width: 12rem;
}

#subjectName:disabled {
  background-color: rgb(211, 211, 211);
  border: 1px solid rgba(224, 224, 224, 0.25);
  color: rgb(124, 124, 124);
  transition: 0.5s ease;
}

#addForm1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 40rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  gap: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 5.2rem;
}

.invalid {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0.4rem;
}

#titleBox {
}
#titleBox input {
  width: 35rem;
  background-color: #f7f7f7;
}

#titleBox input:focus {
  border-color: #861486;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.075) inset,
    0rem 0px 0.2rem rgb(97, 6, 116);
}

.form-select:focus {
  border-color: #861486;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.075) inset,
    0rem 0px 0.2rem rgb(97, 6, 116);
}

#descBox {
}

// #descBox textarea
// {
//   width: 35rem;
//   height: 20rem;
//   resize: none;
//   border: 1px solid #d8d7d7;
//   background-color: #F7F7F7;
//   overflow: auto;
//   outline: none;
//   box-shadow: none;

// }

#optionBox {
  // width: 40rem;
  // height: 2rem;
  gap: 2rem;
  // background-color: pink;
}

// select
// {
//   border: none;
//   outline: none;
//   box-shadow: none;
//   background-color: #eceaea;
//   // border: 1px solid #d8d7d7;
//   width: 10rem;
//   height: 2rem;

// }

#addNoteBtn {
  width: 10rem;
  height: 2rem;
  background-color: #87ca52;
  color: white;
  border-radius: 1rem;
  border: none;
}

#addNoteBtn:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  #addForm1 {
    width: 52rem;
    height: 40rem;
    gap: 2rem;
  }
}

@media (max-width: 960px) {
  #addForm1 {
    width: 50rem;
    height: 38rem;
    gap: 1rem;
  }

  .displayClass {
    gap: 1rem;
  }

  #titleBox input {
    width: 35rem;
  }

  #descBox textarea {
    width: 35rem;
    height: 20rem;
  }

  #addNoteBtn {
    width: 10rem;
    height: 2rem;
  }
}

@media (max-width: 810px) {
  #addForm1 {
    width: 40rem;
    height: 42rem;
  }

  #titleBox input {
    width: 25rem;
  }

  #descBox textarea {
    width: 25rem;
  }

  #optionBox {
    flex-direction: column;
    gap: 0.5rem;
  }

  #optionBox select {
    width: 12rem;
  }

  .optLabel {
    text-align: center;
    width: 5rem;
  }
}

@media (max-width: 660px) {
  #addForm1 {
    width: 30rem;
    height: 45rem;
  }

  #titleBox input {
    width: 20rem;
  }

  #descBox textarea {
    width: 20rem;
  }
}

@media (max-width: 650px) {
  #backBtn {
    right: 1rem;
    top: 3rem;
    border-radius: 2rem;
    width: 8rem;
    height: 2.5rem;
    align-self: flex-start;
  }
}

@media (max-width: 530px) {
  #addForm1 {
    width: 25rem;
    height: 47rem;
  }

  #titleBox input {
    width: 15rem;
  }

  #descBox textarea {
    width: 15rem;
  }
}

@media (max-width: 430px) {
  #addForm1 {
    width: 20rem;
    height: 49rem;
  }

  #titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  #descBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .displayClass {
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
  }

  .optLabel {
    width: auto;
  }
}

@media (max-width: 340px) {
  #addForm1 {
    width: 18rem;
  }
}

::ng-deep {
  .ql-toolbar.ql-snow {
    border: 1px solid #dee2e6 !important;
    border-radius: 0.5rem 0.5rem 0 0 !important;
    border: none;
    width: 35rem;
    // margin-bottom: 1rem;
    text-align: center;
  }

  .ql-container.ql-snow {
    border-radius: 0 0 0.5rem 0.5rem;
    border: 1px solid #dee2e6;
    width: 35rem;
    height: 20rem;
  }

  //Nagłówki nazwy
  .ql-snow .ql-picker.ql-header .ql-picker-label::before,
  .ql-snow .ql-picker.ql-header .ql-picker-item::before {
    content: "Normalny";
  }

  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]:before,
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]:before {
    content: "Nagłówek 2 ";
  }

  .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]:before,
  .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]:before {
    content: "Nagłówek 3";
  }

  .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    right: -4px;
  }

  //Czcionka nazwy
  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="small"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="small"]::before {
    content: "Mała";
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item::before {
    content: "Normalna";
  }

  .ql-snow .ql-picker.ql-size .ql-picker-label[data-value="large"]::before,
  .ql-snow .ql-picker.ql-size .ql-picker-item[data-value="large"]::before {
    content: "Duża";
  }

  ////! Quill Fonts

  .ql-font .ql-picker-label {
    width: 8.5rem;
  }

  // [quill-editor-toolbar] .ql-font span[data-label="Arial"]::before {
  //   font-family: "Arial", "sans-serif";
  // }

  // [quill-editor-toolbar] .ql-font span[data-label="Verdana"]::before {
  //   font-family: "Verdana", "serif";
  // }

  // [quill-editor-toolbar] .ql-font span[data-label="Times New Roman"]::before {
  //   font-family: 'Times New Roman', "serif";
  // }

  // [quill-editor-toolbar] .ql-font span[data-label="Roboto"]::before {
  //   font-family: "Roboto", "serif";
  // }

  // [quill-editor-toolbar] .ql-font span[data-label="Monospace"]::before {
  //   font-family: "Courier New", "monospace";
  // }

  // [quill-editor-toolbar] .ql-font span[data-label="Poppins"]::before {
  //   font-family: "Poppins", "serif";
  // }

  //TODO Druga Wersja fonts!!

  .ql-formats .ql-font span[data-value="arial"]::before {
    font-family: "Arial", "sans-serif" !important;
    content: "Arial" !important;
  }

  .ql-formats .ql-font span[data-value="verdana"]::before {
    font-family: "Verdana", "serif" !important;
    content: "Verdana" !important;
  }

  .ql-formats .ql-font span[data-value="timesnewroman"]::before {
    font-family: "Times New Roman", "serif" !important;
    content: "Times New Roman" !important;
  }

  .ql-formats .ql-font span[data-value="roboto"]::before {
    font-family: "Roboto", "serif" !important;
    content: "Roboto" !important;
  }

  .ql-formats .ql-font span[data-value="monospace"]::before {
    font-family: "Courier New", "monospace" !important;
    content: "Monospace" !important;
  }

  .ql-formats .ql-font span[data-value="poppins"]::before {
    font-family: "Poppins", "serif" !important;
    content: "Poppins" !important;
  }

  //!TODO </>

  .ql-font-arial {
    font-family: "Arial", sans-serif;
  }

  .ql-font-verdana {
    font-family: "Verdana";
  }

  .ql-font-timesnewroman {
    font-family: "Times New Roman";
  }

  .ql-font-roboto {
    font-family: "Roboto";
  }

  .ql-font-monospace {
    font-family: "Courier New", "monospace";
  }

  .ql-font-poppins {
    font-family: "Poppins", "serif";
  }

  ////!

  ////TODO TOOLTIPS

  /** All toolbar buttons are inside of .ql-formats */
  .ql-formats button {
    position: relative;

    /** Set a tooltip with css pseudo-elements, when buttons are hover, active or focus  */
    &:hover::after,
    &:active::after,
    &:focus::after {
      // background: #0d1e42;
      background: #310b61;
      color: white;
      padding: 0.5em;
      border-radius: 0.4em;
      top: -120%;
      left: -10px;
      z-index: 999999;
      position: absolute;
      font-size: 12px;
    }
  }

  .ql-formats .ql-picker {
    position: relative;

    /** Set a tooltip with css pseudo-elements, when buttons are hover, active or focus  */
    &:hover::after,
    &:active::after,
    &:focus::after {
      // background: #0d1e42;
      background: #310b61;
      color: white;
      padding: 0.5em;
      border-radius: 0.4em;
      top: -180%;
      left: -10px;
      z-index: 999999;
      position: absolute;
      font-size: 12px;
    }
  }

  /** Set tooltip content for bold button **/
  .ql-picker.ql-header {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Nagłówek";
    }
  }

  .ql-picker.ql-size {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Rozmiar czcionki";
    }
  }

  .ql-picker.ql-font {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Czcionka";
    }
  }

  .ql-bold {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Pogrubienie";
    }
  }

  .ql-italic {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Kursywa";
    }
  }

  .ql-underline {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Podkreślenie";
    }
  }
  .ql-strike {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Przekreślenie";
    }
  }
  .ql-clean {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Wyczyść styl";
    }
  }
  .ql-indent[value="-1"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Brak akapitu";
    }
  }
  .ql-indent[value="+1"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Wstaw akapitu";
    }
  }

  .ql-picker.ql-color {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Kolor czcionki";
    }
  }

  .ql-picker.ql-background {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Kolor tła";
    }
  }

  .ql-blockquote {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Cytat";
    }
  }
  .ql-code-block {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Kod";
    }
  }

  .ql-list[value="ordered"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Lista numerowana";
      top: -200%;
    }
  }

  .ql-list[value="bullet"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Lista punktowana";
      top: -200%;
    }
  }

  .ql-align[value=""] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Do lewej";
      top: -200%;
    }
  }

  .ql-align[value="center"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Wyśrodkuj";
      top: -200%;
    }
  }

  .ql-align[value="justify"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Wyjustuj";
      top: -200%;
    }
  }

  .ql-align[value="right"] {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Do prawej";
      top: -200%;
    }
  }

  .ql-link {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Hyperlink";
    }
  }

  .ql-image {
    &:hover::after,
    &:active::after,
    &:focus::after {
      content: "Dodaj zdjęcie";
    }
  }

  ////TODO </>

  @media (max-width: 810px) {
    .ql-toolbar.ql-snow {
      width: 25rem;
    }

    .ql-container.ql-snow {
      width: 25rem;
    }
  }

  @media (max-width: 660px) {
    .ql-toolbar.ql-snow {
      width: 20rem;
    }

    .ql-container.ql-snow {
      width: 20rem;
    }
  }

  @media (max-width: 530px) {
    .ql-toolbar.ql-snow {
      width: 15rem;
    }

    .ql-container.ql-snow {
      width: 15rem;
      height: 20rem;
    }
  }

  @media (max-width: 430px) {
    .ql-container.ql-snow {
      width: 15rem;
      height: 16rem;
    }
  }
}

// @media(max-height:840px)
// {

//   #addForm1
//   {
//     width: 46rem;
//     height: 35rem;
//     gap: 1rem;
//     margin: 1rem;

//   }
// }
