<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <button id="backBtn" routerLink="/notes">powrót</button>
    <form
      [formGroup]="addNoteForm"
      (ngSubmit)="addNote(addNoteForm.value)"
      id="addForm1"
    >
      <div id="titleBox" class="displayClass">
        <label for="noteNameInputId">Tytuł: </label>
        <input
          type="text"
          placeholder="tytuł notatki"
          formControlName="noteName"
          id="noteNameInputId"
          class="form-control"
          [class.invalid]="
            (addNoteForm.get('noteName')?.invalid &&
              (addNoteForm.get('noteName')?.touched ||
                addNoteForm.get('noteName')?.dirty)) ||
            (isSubmitted && addNoteForm.get('noteName')?.untouched)
          "
        />
      </div>

      <div id="descBox" class="displayClass">
        <span>Treść: </span>
        <quill-editor
          formControlName="noteDesc"
          [modules]="quillModules"
          [styles]="editorStyle"
          [required]="true"
          [placeholder]="quillPlaceholder"
          class="quillEditor"
          id="quill"
          (onEditorCreated)="onEditorCreated($event)"
          [class.invalid]="
            (addNoteForm.get('noteDesc')?.invalid &&
              (addNoteForm.get('noteDesc')?.touched ||
                addNoteForm.get('noteDesc')?.dirty)) ||
            (isSubmitted && addNoteForm.get('noteDesc')?.invalid)
          "
        >
        </quill-editor>
      </div>

      <div id="optionBox" class="displayClass">
        <div class="displayClass">
          <label for="courseNameSelectId" class="optLabel">Kierunek:</label>
          <select
            formControlName="courseName"
            id="courseNameSelectId"
            class="form-select"
            (change)="filterSubcategories()"
            [class.invalid]="
              (addNoteForm.get('courseName')?.invalid &&
                (addNoteForm.get('courseName')?.touched ||
                  addNoteForm.get('courseName')?.dirty)) ||
              (isSubmitted && addNoteForm.get('courseName')?.untouched)
            "
          >
            <option value="" selected disabled hidden>Wybierz kierunek</option>

            <ng-container *ngFor="let cat of categoryArray; let i = index">
              <option [value]="cat._id">{{ cat.name }}</option>
            </ng-container>
          </select>
        </div>

        <div class="displayClass">
          <label for="subjectName" class="optLabel">Temat:</label>
          <select
            formControlName="subjectName"
            class="form-select"
            id="subjectName"
            [class.invalid]="
              (addNoteForm.get('subjectName')?.invalid &&
                (addNoteForm.get('subjectName')?.touched ||
                  addNoteForm.get('subjectName')?.dirty)) ||
              (isSubmitted && addNoteForm.get('subjectName')?.untouched)
            "
          >
            <option value="" selected disabled hidden>Wybierz temat</option>

            <ng-container *ngFor="let sub of subcategoriesArray">
              <option [value]="sub._id">{{ sub.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>

      <button type="submit" id="addNoteBtn">Dodaj notatkę</button>
    </form>
  </main>

  <footer>
    <div id="footerContent"><app-footer></app-footer></div>
  </footer>
</div>
