#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 12rem;
  background-color: #d9d9d9;
  border: 1px solid #cfcece;
  border-radius: 1rem;
  font-family: "poppins", sans-serif;
}

#subcategoryAndDate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38rem;
  height: 3rem;
  gap: 3rem;
}

.dataColor {
  color: #3d1076;
}

#avatarAndBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
  height: 5rem;
}

.avatarPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.avatarContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar1 {
  z-index: 1;
  border: 0.15rem solid rgb(0, 144, 240);
}
.avatar2 {
  z-index: 2;
  transform: translate(-1.5rem);
  border: 0.15rem solid rgb(253, 166, 5);
}
.avatar3 {
  z-index: 3;
  transform: translate(-2.5rem);
  border: 0.15rem solid rgb(238, 25, 25);
}
.avatar4 {
  z-index: 4;
  transform: translate(-3.5rem);
  border: 0.15rem solid rgb(0, 190, 0);
}
.avatar5 {
  z-index: 5;
  transform: translate(-4.5rem);
  border: 0.15rem solid rgb(243, 243, 5);
}

#chatBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  height: 5rem;
}

#goToChat {
  text-decoration: none;
  background-color: #4678da;
  color: white;
  border: 0.1rem solid #4678da;
  border-radius: 2rem;
  width: 12rem;
  height: 2.5rem;
}

#goToChat:hover {
  background-color: #4b7ce0;
  border: 0.1rem solid #4b7ce0;
}

#leaveChat {
  text-decoration: none;
  background-color: rgba(218, 70, 96, 1);
  color: white;
  border: 0.1rem solid rgba(218, 70, 96, 1);
  border-radius: 2rem;
  width: 5rem;
  height: 2.5rem;
}

#leaveChat:hover {
  background-color: rgb(226, 72, 101);
  border: 0.1rem solid rgb(226, 72, 101);
}

#users {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38rem;
  height: 2.5rem;
  font-size: 0.7rem;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  #container {
    width: 30rem;
    min-height: 15rem;
  }

  #subcategoryAndDate,
  #avatarAndBtns,
  #users {
    width: 28rem;
  }

  #subcategoryAndDate {
    min-height: 3rem;
  }

  #avatarAndBtns {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 8rem;
  }
}

@media (max-width: 500px) {
  #container {
    width: 25rem;
    min-height: 16rem;
  }

  #subcategoryAndDate {
    font-size: 0.8rem;
  }

  #subcategoryAndDate,
  #avatarAndBtns,
  #users {
    width: 23rem;
  }

  #users {
    min-height: 3.5rem;
  }
}

@media (max-width: 420px) {
  #container {
    width: 18rem;
  }

  #subcategoryAndDate,
  #avatarAndBtns,
  #users {
    width: 16rem;
  }

  #chatBtns {
    gap: 0.5rem;
    width: 16rem;
    font-size: 0.8rem;
  }

  #goToChat {
    width: 8rem;
    height: 3rem;
  }

  #leaveChat {
    height: 3rem;
  }

  #users {
    min-height: 4rem;
  }
}
