<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>

    <ng-container *ngIf="!isLoading">
      <button id="backBtn" routerLink="/notes">powrót</button>
      <div id="cardsMenu">
        <span>Fiszki do : {{ selectedNote.name }}</span>
        <div id="cardsBtns">
          <button
            id="learnCards"
            class="cardMenuBtns"
            (click)="showLearnCards()"
          >
            ucz się z fiszek
          </button>
          <button
            id="randomCards"
            class="cardMenuBtns"
            (click)="showRandomCards()"
          >
            losuj fiszki
          </button>
          <button id="myCards" class="cardMenuBtns" (click)="myCards()">
            moje fiszki
          </button>
        </div>
      </div>

      <ng-container *ngIf="cardsToShow.length != 0">
        <ng-container *ngIf="showLearnCardsContainer">
          <div class="cardsContainer">
            <span>Ucz się z fiszek</span>
            <div class="cardsContent">
              <button
                id="prevBtn"
                class="cardBtns"
                (click)="previousCard()"
                [disabled]="this.currentCardToShowIndex === 0"
              >
                poprzednia
              </button>

              <app-card-model
                [cardContent]="cardDisplayedForUser"
              ></app-card-model>

              <button
                id="nextBtn"
                class="cardBtns"
                (click)="nextCard()"
                [disabled]="
                  this.currentCardToShowIndex === this.cardsToShow.length - 1
                "
              >
                następna
              </button>

              <div id="secondPositonBtns">
                <button
                  class="cardBtns"
                  (click)="previousCard()"
                  [disabled]="this.currentCardToShowIndex === 0"
                >
                  poprzednia
                </button>

                <button
                  class="cardBtns"
                  (click)="nextCard()"
                  [disabled]="
                    this.currentCardToShowIndex === this.cardsToShow.length - 1
                  "
                >
                  następna
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="showRandomCardsContainer">
          <div class="cardsContainer">
            <span>Losuj fiszkę</span>
            <div id="randomCardsContent" class="cardsContent">
              <app-card-model
                [cardContent]="cardDisplayedForUser"
              ></app-card-model>

              <button
                id="randomBtn"
                class="cardBtns"
                (click)="randomCard()"
                [disabled]="isRandomButtonDisabled()"
              >
                losuj
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <ng-container
        *ngIf="
          cardsToShow.length === 0 &&
          (showLearnCardsContainer || showRandomCardsContainer)
        "
      >
        <span>Brak fiszek do nauki</span>
      </ng-container>

      <ng-container *ngIf="showMyCardsContainer">
        <ng-container *ngIf="this.userCards.length != 0">
          <p>Twoje fiszki:</p>
          <div class="addCardContainer">
            <!-- <span>Dodaj nową fiszkę</span> -->
            <button
              class="cardMenuBtns addCard"
              routerLink="/card-add/{{ noteId }}"
            >
              dodaj fiszkę
            </button>
          </div>

          <ng-container *ngFor="let card of userCards; let i = index">
            <app-card-model [myCardContent]="card"></app-card-model>
            <div class="editCardContainer">
              <button
                class="cardMenuBtns editMyCardBtn"
                (click)="showEditCard(card, i)"
              >
                edytuj
              </button>
              <button
                class="cardMenuBtns deleteMyCardBtn"
                (click)="deleteCard(card._id)"
              >
                usuń
              </button>
            </div>

            <ng-container
              *ngIf="currentCardToShowIndex === i && showEditCardContainer"
            >
              <form
                [formGroup]="editCardForm"
                (ngSubmit)="editCard(editCardForm.value, card)"
                class="editCardForm"
              >
                <div class="editCard_Name">
                  <label for="editCardQuestion" class="card_label"
                    >Treść fiszki:</label
                  >
                  <textarea
                    type="text"
                    placeholder="treść"
                    formControlName="cardText"
                    class="form-control"
                    id="editCardQuestion"
                  ></textarea>
                </div>

                <div class="editCard_Answer" class="card_div">
                  <label for="editCardAnswer" class="card_label"
                    >Odpowiedź:</label
                  >
                  <textarea
                    type="text"
                    placeholder="odpowiedź do fiszki"
                    formControlName="cardAnswer"
                    class="form-control"
                    id="editCardAnswer"
                  ></textarea>
                </div>

                <button class="cardMenuBtns addCard" type="submit">
                  zmień
                </button>
              </form>
            </ng-container>
          </ng-container>

          <!--! tu dodać ten model my-cards-model -->

          <!-- <ng-container *ngFor="let card of userCardsToShow">
            <app-card-my-cards-model></app-card-my-cards-model>
          </ng-container> -->
          <!-- ! -->
        </ng-container>

        <ng-container *ngIf="this.userCards.length === 0">
          <p>Nie dodałeś żadnej fiszki</p>
          <div class="addCardContainer" id="noCardContainer">
            <button
              class="cardMenuBtns addCard"
              routerLink="/card-add/{{ noteId }}"
            >
              dodaj fiszkę
            </button>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
