<div id="hero">
  <header id="logo">NoteBuddy <br /><span id="logo2">To</span>Study</header>

  <div id="hero_section">
    <header id="hero_header">Twoja droga do sukcesu zaczyna się tutaj!</header>
    <p id="hero_text">
      Poznaj moc nauki w społeczności. Dziel się notatkami, znajdź partnerów do
      nauki i doskonal umiejętności za pomocą fiszek.
    </p>

    <div id="hero_btns">
      <div id="more_details">
        <a href="#features-list" class="anchor">Dowiedz się więcej</a>
      </div>
      <div id="courses_btn">
        <a href="#av-courses-span" class="anchor">Dostępne kierunki</a>
      </div>
    </div>
  </div>

  <nav id="navigation">
    <div [routerLink]="['/login']" id="login_btn">
      <span>Zaloguj się</span>
    </div>
    <div [routerLink]="['/register']" id="register_btn">
      <span>Dołącz do nas</span>
    </div>
  </nav>

  <div class="wave-background">
    <img
      src="../../../assets/Ellipse_hero.png"
      alt=""
      id="wave-background-img"
    />
  </div>
  <div class="wave-background">
    <img
      src="../../../assets/Ellipse_hero_mobile.png"
      alt=""
      id="wave-background-img-mobile"
    />
  </div>
  <div class="wave-background">
    <img
      src="../../../assets/Ellipse_hero_mobile_480.png"
      alt=""
      id="wave-background-img-mobile-480"
    />
  </div>

  <div id="hero-background">
    <img src="../../../assets/laptopwithnotes.png" alt="" id="hero-img" />
  </div>
</div>

<div id="motivateDiv">
  <span id="motivate-text"
    >Rozwijaj swoją wiedze i <br />
    zwiększ możliwości
  </span>
</div>

<div id="features">
  <img
    src="../../../assets/Ellipse_features.png"
    alt=""
    id="wavy-article-img"
  />
  <img
    src="../../../assets/Ellipse_features_mobile_970.png"
    alt=""
    id="wavy-article-img-mobile-970"
  />
  <div id="features-list"><app-features></app-features></div>
</div>

<div id="courses">
  <span id="av-courses-span">Przykładowe kierunki:</span>

  <div id="available-courses"><app-courses></app-courses></div>
</div>

<footer>
  <div id="footer-container">
    <div id="footer-btns">
      <div id="footer_btn_rules"><span>Regulamin</span></div>
      <div id="footer_btn_help"><span>Pomoc</span></div>
      <div id="footer_btn_about"><span>O nas</span></div>
    </div>
    <div id="footer-line"></div>
    <div id="copyright">
      Copyright &copy; {{ copyrightYear }} Michał Stasiowski, Tomasz Więsek
    </div>
  </div>
</footer>
