html,body
{
margin: 0;
padding: 0;

}

//!HERO
#hero
{
font-size: 1rem;

}


#logo
{

// width: 180px;
width: 11rem;
// height: 69px;
height: 5rem;
position: absolute;
// top: 10px;
top: 1rem;
// left: 100px;
left: 1rem;
// background-color: red;
z-index: 1;


color: #2B2525;
font-family: 'Outfit', sans-serif;
// font-size: 32px;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}


#logo2
{
color: purple;
}

#hero_section
{
// width:450px ;
width: 28rem;
// height: 350px;
height: 20rem;
// margin-top: 100px;
margin-top: 5rem;
position: relative;
// top: 130px;
top: 7rem;
// left: 440px;
left: 24rem;
z-index: 1;

}

#hero_header
{
display: flex;
width: 435px;
height: 187px;
flex-direction: column;
justify-content: center;

color: #000;
font-family: 'Poppins',sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 112%;
z-index: 1;
}

#hero_text
{
display: flex;
width: 435px;
flex-direction: column;
justify-content: center;
color: #000;
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 1;

}

#hero_btns
{
display: flex;
gap: 5px;
z-index: 1;
}

#more_details
{
width: 255px;
height: 45px;
border-radius: 40px;
background: #51218F;
display: flex;
justify-content: center;
align-items: center;

}

#more_details span
{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;


}

#courses_btn
{
display: flex;
width: 164px;
height: 41px;
flex-direction: column;
justify-content: center;


text-align: center;



font-style: normal;
font-weight: 600;
line-height: normal;
border: 3px solid #51218F;
border-radius: 40px;
}

#courses_btn span
{
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 16px;
color: #000;

}

#navigation
{
position: absolute;
display: flex;
top: 20px;
right: 100px;
z-index: 1;
gap: 30px;


}

#login_btn
{
display: flex;
align-items: center;
justify-content: center;
color: white;
width: 100px;
height: 30px;
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 18px;


}

#register_btn
{
display: flex;
align-items: center;
justify-content: center;
width: 180px;
height: 30px;
color: white;
border: 3px solid white;
border-radius: 40px;

font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 18px;


}

#wave-background
{
  position: absolute;
  top: 0rem;
  right: 0rem;
  margin: 0;
  padding: 0;
  z-index: 0;

}

#wave-background-img
{
 max-width: 90rem;
}

#hero-background
{
position: absolute;
top: 140px;
right: 225px;

}

#hero-img
{
  width: 45rem;
}


#motivate-text
{
  position: absolute;
  text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 700 ;
font-size: 48px;
top: 1180px;
left: 35vw;
z-index: 1;
}


#wavy-article-img
{
margin: 0;
margin-top: 510px;
padding: 0;
width: 1880px;
position: absolute;
left: 0;
width: 100%;
z-index: 0;
}

#features-list
{
position: relative;
top: 85rem;
}
