#hero {
  margin: 0;
  padding: 0;
  height: 30rem;
  user-select: none;
}

#logo {
  width: 11rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;

  color: #2b2525;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#logo2 {
  color: purple;
}

#hero_section {
  width: 28rem;
  height: 25rem;
  margin-top: 5rem;
  position: relative;
  top: 7rem;
  left: 24rem;
  z-index: 1;
}

#hero_header {
  display: flex;
  width: 27.2rem;
  height: 12rem;
  flex-direction: column;
  justify-content: center;

  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  z-index: 1;
}

#hero_text {
  display: flex;
  width: 27.2rem;
  flex-direction: column;
  justify-content: center;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 1;
}

#hero_btns {
  display: flex;
  width: 27.2rem;
  gap: 0.32rem;
  z-index: 1;
}

#more_details {
  width: 15.9375rem;
  height: 2.8125rem;
  border-radius: 2.5rem;
  background-color: #51218f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#more_details:hover {
  cursor: pointer;
  background-color: #491e81;
}

#more_details .anchor {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
}

#courses_btn {
  display: flex;
  width: 13.5rem;
  height: 2.8125rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  border: 0.1875rem solid #51218f;
  border-radius: 40px;
}

#courses_btn:hover {
  border-color: #491e81;
  cursor: pointer;
}

#courses_btn .anchor {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

#navigation {
  position: absolute;
  display: flex;
  top: 1.25rem;
  right: 6.25rem;
  z-index: 1;
  gap: 2rem;
}

#login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 6.25rem;
  height: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

#login_btn:hover {
  cursor: pointer;
  color: rgb(230, 230, 230);
}

#register_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.25rem;
  height: 2rem;
  color: white;
  border: 0.125rem solid white;
  border-radius: 2.5rem;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

#register_btn:hover {
  cursor: pointer;
  color: rgb(230, 230, 230);
  border: 0.125rem solid rgb(230, 230, 230);
}

.wave-background {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
  pointer-events: none;
}

#wave-background-img {
  max-width: 90rem;
  pointer-events: none;
}

#wave-background-img-mobile {
  display: none;
  pointer-events: none;
}

#wave-background-img-mobile-480 {
  display: none;
  pointer-events: none;
}

#hero-background {
  position: absolute;
  top: 8.75rem;
  right: 14.0625rem;
  pointer-events: none;
}

#hero-img {
  width: 45rem;
}

#motivateDiv {
  width: 100%;
  height: 12rem;
  text-align: center;
  z-index: 0;
  position: absolute;
  top: 75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#motivate-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  z-index: 1;
  user-select: none;
}

#features {
  position: relative;
  top: 75rem;
  height: 265rem;
  margin-top: 35rem;
  padding: 0;
  margin: 0;
  pointer-events: none;
}

#wavy-article-img {
  margin: 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -9999;
  height: 250rem;
}

#wavy-article-img-mobile-970 {
  display: none;
  pointer-events: none;
}

#features-list {
  position: relative;
  top: 45rem;
  pointer-events: none;
  user-select: none;
}

#courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  position: relative;
  top: 85rem;
  height: 50rem;
}

#av-courses-span {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  height: 3rem;
  z-index: 1;
}

#available-courses {
  position: relative;
  width: 45rem;
  height: 15rem;
  background-color: #3b136e;
  border-radius: 1rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: relative;
  width: 100%;
  height: 7rem;
  background-color: #222;
  padding: 0;
  margin: 0;
  bottom: 0;
  margin-top: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#footer-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footer-btns span {
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#footer_btn_help:hover {
  cursor: pointer;
}

#footer-line {
  width: 28rem;
  height: 0.1rem;
  background-color: #f89e30;
  border-radius: 1rem;
}

#copyright {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

@media (max-width: 1792px) {
  #hero_section {
    left: 18rem;
  }
}

@media (max-width: 1628px) {
  #hero_section {
    left: 10rem;
  }

  #features-list {
    top: 55rem;
  }
}

@media (max-width: 1478px) {
  #wave-background-img {
    max-width: 70rem;
  }

  #hero-img {
    width: 35rem;
  }

  #hero_section {
    width: 20rem;
    height: 20rem;
    margin-top: 5rem;
    top: 6rem;
    left: 24rem;
  }

  #hero_header {
    width: 20rem;
    height: 8rem;
    font-size: 2rem;
  }

  #hero_text {
    margin-top: 0;
    width: 20rem;
  }

  #hero_btns {
    width: 20rem;
    gap: 0.35rem;
  }

  #more_details {
    width: 12rem;
    height: 2.5rem;
  }

  #more_details .anchor {
    font-size: 0.8rem;
  }

  #courses_btn {
    width: 10rem;
    height: 2.5rem;
  }

  #courses_btn .anchor {
    font-size: 0.8rem;
  }

  #hero_section {
    left: 5rem;
  }

  #features-list {
    top: 75rem;
  }
}

@media (max-width: 1230px) {
  #features {
    max-height: 240rem;
  }
}

@media (max-width: 1186px) {
  #hero_section {
    top: 1rem;
    left: 4rem;
  }

  #logo {
    font-size: 1.5rem;
  }

  #navigation {
    top: 1.55rem;

    gap: 1rem;
  }

  #login_btn {
    height: 1.5rem;
    font-size: 0.875rem;
  }

  #register_btn {
    width: 8.5rem;
    height: 1.3rem;
    font-size: 0.875rem;
  }

  #wave-background-img {
    max-width: 50rem;
  }

  #hero-background {
    top: 8rem;
    right: 12rem;
  }

  #hero-img {
    width: 25rem;
  }
}

@media (max-width: 1006px) {
  #wave-background-img {
    max-width: 40rem;
  }

  #hero-background {
    top: 6.75rem;
    right: 9.0625rem;
  }

  #hero-img {
    width: 18rem;
  }

  #hero_section {
    width: 20rem;
    height: 12rem;
    margin-top: 5rem;
  }

  #hero_header {
    width: 20rem;
    height: 5rem;
    font-size: 1.2rem;
  }

  #hero_text {
    font-size: 0.9rem;
  }

  #hero_btns {
    gap: 0.32rem;
  }

  #more_details {
    width: 10rem;
    height: 2rem;
  }

  #courses_btn {
    width: 9rem;
    height: 2rem;
  }

  #courses_btn .anchor {
    font-size: 0.7rem;
  }

  #motivate-text {
    font-size: 2rem;
  }
}

@media (max-width: 970px) {
  #wavy-article-img {
    display: none;
  }

  #wavy-article-img-mobile-970 {
    display: flex;
    margin: 0;
    margin-top: 0;
    padding: 0;
    width: 117.5rem;
    position: absolute;
    left: 0;
    max-width: 100%;
    z-index: -9999;
    max-height: 150rem;
  }

  #features-list {
    top: 35rem;
  }

  #courses {
    margin-top: 1rem;
    top: 1rem;
  }

  footer {
    margin-top: 25rem;
  }
}

@media (max-width: 776px) {
  #wave-background-img {
    display: none;
  }

  #wave-background-img-mobile {
    display: flex;
    max-width: 100%;
    min-height: 40rem;
  }

  #wavy-article-img-mobile-970 {
    min-height: 230rem;
  }

  #logo {
    font-size: 1.2rem;
    color: white;
  }

  #logo2 {
    color: #f89e30;
  }

  #hero_section {
    width: 25rem;
    height: 13.5rem;
    margin-top: 5rem;
  }

  #hero_header {
    color: white;
  }

  #hero_text {
    color: white;
    width: 25rem;
  }

  #hero_btns {
    width: 22rem;
  }

  #more_details {
    width: 15rem;
    height: 2rem;
    border: 1px solid white;
  }

  #more_details:hover {
    border-color: #d6d6d6;
  }

  #courses_btn {
    width: 12.5rem;
    height: 2rem;
    border: 2px solid #f89e30;
  }

  #courses_btn:hover {
    border-color: #ff9100;
  }

  #courses_btn .anchor {
    font-size: 0.8rem;
    color: white;
  }

  #navigation {
    right: 0.5rem;
  }

  #hero-background {
    top: 20.75rem;
    right: 1rem;
  }

  #hero-img {
    width: 25rem;
    max-width: 30rem;
  }

  #courses {
    margin-top: 85rem;
    top: 0;
  }

  #available-courses {
    min-height: 28rem;
    width: 25rem;
  }
}

@media (max-width: 480px) {
  #wave-background-img-mobile {
    display: none;
  }

  #wave-background-img-mobile-480 {
    display: flex;
    max-width: 100%;
    min-height: 60rem;
  }

  #hero-img {
    width: 20rem;
    max-width: 20rem;
  }

  #hero_section {
    width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }

  #hero_header {
    text-align: center;
  }

  #hero_text {
    color: white;
    width: 20rem;
    text-align: center;
  }

  #hero_btns {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  #more_details {
    background-color: transparent;
  }

  #motivate-text {
    font-size: 1rem;
  }

  #av-courses-span {
    font-size: 1.5rem;
  }

  #available-courses {
    width: 15rem;
  }

  #footer-container {
    flex-wrap: wrap;
  }
  #footer-btns span {
    font-size: 0.7rem;
  }

  #footer-line {
    max-width: 12rem;
  }

  #copyright {
    font-size: 0.7rem;
  }
}

@media (max-width: 430px) {
  #navigation {
    gap: 0.25rem;
  }
}

@media (max-width: 430px) {
  #logo {
    width: 6.5rem;
  }

  #navigation {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    right: 1.5rem;
  }

  #hero_btns {
    width: 16rem;
  }

  #hero-background {
    top: 25rem;
    right: 1rem;
  }

  #hero-img {
    width: 18rem;
    max-width: 18rem;
  }
}

@media (max-width: 430px) {
  #hero_section {
    width: 16rem;
    height: 19rem;
  }

  #hero_header {
    width: 15rem;
  }

  #hero_text {
    width: 15rem;
  }
}

@media (max-width: 400px) {
  #wavy-article-img-mobile-970 {
    min-height: 200rem;
  }
}
