.direction {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 36rem;
  min-height: 5rem;
}

.currentUsrDirection {
  justify-content: right;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  max-width: 35rem;
  min-height: 5rem;
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.currentUsrAvatarPos {
  flex-direction: row-reverse;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  border: 0.1rem solid rgb(11, 186, 255);
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.currentUsrAvatarColor {
  border: 0.1rem solid orange;
}

.login {
  font-size: 0.8rem;
  color: rgb(77, 5, 77);
}

.content {
  padding: 0.5rem;
  background-color: white;
  border: 0.1rem solid rgb(240, 238, 238);
  border-radius: 1rem;
  max-width: 30rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.313rem 0.313rem 0.625rem 0rem rgba(0, 0, 0, 0.25);
}

.contentSpan {
  max-width: 28rem;
  word-wrap: break-word;
}

.content:hover {
  cursor: pointer;
}

.sendDate {
  font-size: 0.6rem;
  text-align: center;
}

@media (max-width: 655px) {
  .direction {
    width: 30rem;
  }

  #container {
    max-width: 29rem;
  }

  .content {
    max-width: 24rem;
  }

  .contentSpan {
    max-width: 22rem;
  }
}

@media (max-width: 500px) {
  .direction {
    width: 25rem;
  }

  #container {
    max-width: 24rem;
  }

  .content {
    max-width: 19rem;
  }

  .contentSpan {
    max-width: 17rem;
  }
}

@media (max-width: 440px) {
  .direction {
    width: 20rem;
  }

  #container {
    max-width: 19rem;
  }

  .content {
    max-width: 14rem;
  }

  .contentSpan {
    max-width: 12rem;
  }
}

@media (max-width: 360px) {
  .direction {
    width: 18rem;
  }

  #container {
    max-width: 17rem;
  }

  .content {
    max-width: 12rem;
  }

  .contentSpan {
    max-width: 10rem;
  }
}
