#container {
  width: 40rem;
  min-height: 10rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content {
  width: 40rem;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  border: 1px solid #cacaca;
  border-radius: 1rem;
  gap: 2rem;
}

.contentSpan {
  width: 6rem;
  min-height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}

.contentP {
  width: 30.5rem;
  min-height: 8rem;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  user-select: none;
}

@media (max-width: 900px) {
  #container {
    width: 35rem;
    min-height: 10rem;
  }

  .content {
    width: 35rem;
    min-height: 8rem;
    gap: 1rem;
  }

  .contentSpan {
    width: 6rem;
    min-height: 8rem;
  }

  .contentP {
    width: 25rem;
    min-height: 8rem;
  }
}

@media (max-width: 580px) {
  #container {
    width: 25rem;
    min-height: 10rem;
  }

  .content {
    width: 25rem;
    min-height: 8rem;
    gap: 1rem;
  }

  .contentSpan {
    width: 6rem;
    min-height: 8rem;
  }

  .contentP {
    width: 17rem;
    min-height: 8rem;
  }
}

@media (max-width: 420px) {
  #container {
    width: 18rem;
    min-height: 15rem;
  }

  .content {
    width: 18rem;
    min-height: 13rem;
    gap: 1rem;
  }

  .contentSpan {
    width: 6rem;
    min-height: 13rem;
  }

  .contentP {
    width: 10rem;
    min-height: 13rem;
  }
}
