<div id="container" *ngIf="this.authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <i
      class="fa-solid fa-spinner fa-spin-pulse fa-2xl"
      style="color: #ffbb00"
      *ngIf="isLoading"
      id="spinner"
    ></i>
    <button id="backBtn" routerLink="/notes">powrót</button>

    <div id="searchContainer" *ngIf="!isLoading">
      <span id="pageDesc"
        >W tym miejscu możesz znaleźć partnerów z którymi będziesz mógł
        wymieniać <br />się swoją wiedzą z określonych kierunków studiów.
      </span>
      <form
        [formGroup]="searchBuddyForm"
        (ngSubmit)="searchBuddy(searchBuddyForm.value)"
        id="searchForm"
      >
        <div id="chooseType">
          <input
            type="radio"
            name="searchValue"
            id="searchOne"
            autocomplete="off"
            formControlName="searchValue"
            value="two"
          />
          <label for="searchOne">Partner/ka</label>

          <input
            type="radio"
            name="searchValue"
            id="searchGroup"
            autocomplete="off"
            formControlName="searchValue"
            value="multiple"
          />
          <label for="searchGroup">Grupa</label>
        </div>

        <div id="chooseCourse">
          <select
            id="chooseCategorySelect"
            formControlName="courseId"
            class="form-select"
            (change)="onCategorySelect()"
          >
            <option value="" selected disabled hidden>Wybierz kierunek</option>

            <ng-container *ngFor="let cat of categoriesOrigin; let i = index">
              <option [value]="cat._id">{{ cat.name }}</option>
            </ng-container>
          </select>
        </div>

        <div id="chooseSubcategory">
          <select
            id="chooseSubcategorySelect"
            formControlName="subcategoryId"
            class="form-select"
          >
            <option value="" selected disabled hidden>Wybierz temat</option>

            <ng-container
              *ngFor="let sub of filteredSubcategories; let i = index"
            >
              <option [value]="sub._id">{{ sub.name }}</option>
            </ng-container>
          </select>
        </div>

        <button type="submit" id="searchBuddyBtn">Wyszukaj</button>
      </form>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
