<div id="container" *ngIf="authService.currentUserSignal()">
  <nav>
    <app-navbar></app-navbar>
  </nav>

  <main>
    <button id="backBtn" routerLink="/notes">powrót</button>
    <div id="findUserNotes">
      <app-admin-find-user-notes></app-admin-find-user-notes>
    </div>
    <!-- <div id="UserCard"></div> -->
    <div id="categoryAndSubcategoryCrud">
      <app-admin-crud-cat-subcat></app-admin-crud-cat-subcat>
    </div>
    <div id="studyTipsCrud">
      <app-admin-crud-hints></app-admin-crud-hints>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
