<div id="container">
  <h5 class="adminPanelText">Kierunki i tematy</h5>

  <h6 class="adminPanelText">Kierunki:</h6>

  <!-- Dodawanie Kierunków -->
  <div id="addNewCategorySection">
    <form
      [formGroup]="addCategoryForm"
      (ngSubmit)="addCategory(addCategoryForm.value)"
    >
      <div id="addNewCategoryForm">
        <span id="addCategorySpan">Dodaj nowy kierunek studiów:</span>
        <input
          id="addCategoryInput"
          class="valueInputs"
          type="text"
          placeholder="-"
          formControlName="name"
          [class.invalid]="
            (addCategoryForm.get('name')?.invalid &&
              (addCategoryForm.get('name')?.touched ||
                addCategoryForm.get('name')?.dirty)) ||
            (isSubmittedAddCategoryForm &&
              addCategoryForm.get('name')?.untouched)
          "
        />
        <div id="addCategoryBtnDiv">
          <button class="createBtn" type="submit">dodaj</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Edytowanie kierunków -->
  <div class="editCategoryAddSubcatContainer">
    <form [formGroup]="editCategoryForm" class="editCategoryAddSubcatForm">
      <span class="editCategoryAddSubcatSpan">Edytuj wybrany kierunek:</span>
      <div class="editCategoryAddSubcatContent">
        <select
          class="categoryAndSubcatSelect"
          formControlName="selectedCategoryName"
          (change)="onEditCategoryChange()"
          [class.invalid]="
            (editCategoryForm.get('selectedCategoryName')?.invalid &&
              (editCategoryForm.get('selectedCategoryName')?.touched ||
                editCategoryForm.get('selectedCategoryName')?.dirty)) ||
            (isSubmittedEditCategoryForm &&
              editCategoryForm.get('selectedCategoryName')?.untouched)
          "
        >
          <option value="" selected disabled hidden>Wybierz kierunek</option>

          <ng-container *ngFor="let cat of categoriesOrigin">
            <option [value]="cat._id">{{ cat.name }}</option>
          </ng-container>
        </select>

        <input
          type="text"
          id="editCategoryInput"
          class="valueInputs"
          formControlName="categoryName"
          placeholder="-"
          [class.invalid]="
            (editCategoryForm.get('categoryName')?.invalid &&
              (editCategoryForm.get('categoryName')?.touched ||
                editCategoryForm.get('categoryName')?.dirty)) ||
            (isSubmittedEditCategoryForm &&
              editCategoryForm.get('categoryName')?.untouched)
          "
        />
      </div>

      <div class="editAndDeleteBtnsSection">
        <button class="editBtn" type="submit" (click)="updateCategory()">
          Edytuj
        </button>
        <button class="deleteBtn" type="submit" (click)="deleteCategory()">
          Usuń
        </button>
      </div>
    </form>
  </div>

  <h6 class="adminPanelText">Tematy:</h6>

  <!-- Dodawanie tematów -->
  <div class="editCategoryAddSubcatContainer">
    <form
      [formGroup]="addSubcategoryForm"
      class="editCategoryAddSubcatForm"
      (ngSubmit)="addSubcategory(addSubcategoryForm.value)"
    >
      <span class="editCategoryAddSubcatSpan">Dodaj nowy temat:</span>
      <div class="editCategoryAddSubcatContent">
        <select
          class="categoryAndSubcatSelect"
          formControlName="category_id"
          [class.invalid]="
            (addSubcategoryForm.get('category_id')?.invalid &&
              (addSubcategoryForm.get('category_id')?.touched ||
                addSubcategoryForm.get('category_id')?.dirty)) ||
            (isSubmittedAddSubcategoryForm &&
              addSubcategoryForm.get('category_id')?.untouched)
          "
        >
          <option value="" selected disabled hidden>Wybierz kierunek</option>
          <ng-container *ngFor="let cat of categoriesOrigin">
            <option [value]="cat._id">{{ cat.name }}</option>
          </ng-container>
        </select>

        <input
          id="addSubcategoryInput"
          class="valueInputs"
          placeholder="-"
          formControlName="name"
          [class.invalid]="
            (addSubcategoryForm.get('name')?.invalid &&
              (addSubcategoryForm.get('name')?.touched ||
                addSubcategoryForm.get('name')?.dirty)) ||
            (isSubmittedAddSubcategoryForm &&
              addSubcategoryForm.get('name')?.untouched)
          "
        />
      </div>

      <div class="editAndDeleteBtnsSection">
        <button class="createBtn" type="submit">Dodaj</button>
      </div>
    </form>
  </div>

  <!-- Edytowanie tematów -->
  <div class="editCategoryAddSubcatContainer" id="editSubcategoryContainer">
    <form
      id="editSubcategoryFormId"
      class="editCategoryAddSubcatForm"
      [formGroup]="editSubcategoryForm"
    >
      <span class="editCategoryAddSubcatSpan">Edytuj wybrany temat:</span>
      <div class="editCategoryAddSubcatContent">
        <select
          class="categoryAndSubcatSelect"
          formControlName="category_id"
          (change)="onEditSubcategoryCategorySelectChange()"
          [class.invalid]="
            (editSubcategoryForm.get('category_id')?.invalid &&
              (editSubcategoryForm.get('category_id')?.touched ||
                editSubcategoryForm.get('category_id')?.dirty)) ||
            (isSubmittedEditSubcategoryForm &&
              editSubcategoryForm.get('category_id')?.untouched)
          "
        >
          <option value="" selected disabled hidden>Wybierz kierunek</option>
          <ng-container *ngFor="let cat of categoriesOrigin">
            <option [value]="cat._id">{{ cat.name }}</option>
          </ng-container>
        </select>

        <select
          class="categoryAndSubcatSelect"
          formControlName="_id"
          (change)="onEditSubcategoryChange()"
          [class.invalid]="
            (editSubcategoryForm.get('_id')?.invalid &&
              (editSubcategoryForm.get('_id')?.touched ||
                editSubcategoryForm.get('_id')?.dirty)) ||
            (isSubmittedEditSubcategoryForm &&
              editSubcategoryForm.get('_id')?.untouched)
          "
        >
          <option value="" selected disabled hidden>Wybierz Temat</option>

          <ng-container *ngFor="let subcat of filteredSubcategories">
            <option [value]="subcat._id">{{ subcat.name }}</option>
          </ng-container>
        </select>

        <input
          type="text"
          id="editSubcategoryInput"
          class="valueInputs"
          placeholder="-"
          formControlName="name"
          [class.invalid]="
            (editSubcategoryForm.get('name')?.invalid &&
              (editSubcategoryForm.get('name')?.touched ||
                editSubcategoryForm.get('name')?.dirty)) ||
            (isSubmittedEditSubcategoryForm &&
              editSubcategoryForm.get('name')?.untouched)
          "
        />
      </div>

      <div class="editAndDeleteBtnsSection">
        <button class="editBtn" (click)="updateSubcategory()">Edytuj</button>
        <button class="deleteBtn" (click)="deleteSubcategory()">Usuń</button>
      </div>
    </form>
  </div>
</div>
