#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  padding-top: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  gap: 1rem;
  padding-bottom: 1rem;
}

h5 {
  color: #310b61;
  text-align: center;
}

.adminPanelText {
  width: 40rem;
}

#addNewCategorySection {
  width: 40rem;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#addNewCategoryForm {
  margin: 0;
  padding: 0;
  width: 40rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: #dddddd;
  border-radius: 0.5rem;
}

#addCategorySpan {
  width: 15rem;
}

.valueInputs {
  background-color: #d1d1d1;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  height: 2rem;
  padding-left: 1rem;
  transition: 60ms ease-in;
  width: 13.5rem;
}

.valueInputs:focus {
  border: 1px solid #310b61;
  background-color: #cfcece;
  outline: 1px solid #310b61;
  caret-color: #310b61;
}

#addCategoryBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 6rem;
}

.createBtn {
  background-color: #87ca52;
  border: 0.1rem solid #80c04f;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.createBtn:hover {
  background-color: #89cf54;
  border: 0.1rem solid #83c551;
}

.editBtn {
  background-color: #f89e30;
  border: 0.1rem solid #f3a749;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.editBtn:hover {
  background-color: #f39d34;
  border: 0.1rem solid #f3a749;
}

.deleteBtn {
  background-color: rgba(218, 70, 96, 1);
  border: 0.1rem solid rgba(218, 70, 96, 1);
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.deleteBtn:hover {
  background-color: rgb(221, 75, 102);
  border: rgb(221, 75, 102);
}

.invalid {
  border: 1px solid rgb(255, 0, 0);
  border-radius: 0.4rem;
}

select.invalid {
  outline: 1px solid rgb(255, 0, 0);
  border-radius: 0.4rem;
}

.editCategoryAddSubcatContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 40rem;
  height: 8rem;

  background-color: #dddddd;
  border-radius: 0.5rem;
}

.editCategoryAddSubcatForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40rem;
  gap: 2rem;
}

.editCategoryAddSubcatSpan {
  width: 15rem;
}

.editCategoryAddSubcatContent {
  width: 13.5rem;

  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.categoryAndSubcatSelect {
  background-color: #d1d1d1;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  width: 13.5rem;
  height: 2rem;
  padding-left: 1rem;
  transition: 60ms ease-in;
}

.categoryAndSubcatSelect:hover {
  cursor: pointer;
}

.categoryAndSubcatSelect:focus {
  border: 1px solid #310b61;
  background-color: #cfcece;
  outline: 1px solid #310b61;
}

.editAndDeleteBtnsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 6rem;
  height: 8rem;
}

#editSubcategoryContainer {
  height: 10rem;
}

@media (max-width: 1000px) {
  #container {
    width: 40rem;
  }
}

@media (max-width: 700px) {
  #container {
    width: 30rem;
  }
  .adminPanelText {
    width: 25rem;
  }

  #addNewCategorySection {
    width: 25rem;
    height: 10rem;
    justify-content: center;
  }

  #addNewCategoryForm {
    width: 25rem;
    height: 10rem;
    flex-direction: column;
    gap: 1rem;
  }

  .editCategoryAddSubcatSpan {
    width: 20rem;
    text-align: center;
  }

  .editCategoryAddSubcatContainer {
    width: 25rem;
    height: 17rem;
    gap: 0rem;
  }

  .editCategoryAddSubcatForm {
    flex-direction: column;
    width: 20rem;
    height: 16rem;
    gap: 0rem;
  }

  #editSubcategoryFormId {
    gap: 1rem;
  }

  #editSubcategoryContainer {
    height: 17rem;
  }

  .editAndDeleteBtnsSection {
    flex-direction: row;
    gap: 1rem;
    width: 13rem;
    height: 3rem;
  }
}

@media (max-width: 500px) {
  #container {
    width: 25rem;
  }
}

@media (max-width: 420px) {
  #container {
    width: 18rem;
  }
  .adminPanelText {
    width: 18rem;
  }

  #addNewCategorySection {
    width: 18rem;
  }

  #addNewCategoryForm {
    width: 18rem;
  }

  .editCategoryAddSubcatSpan {
    width: 18rem;
  }

  .editCategoryAddSubcatContainer {
    width: 18rem;
  }

  .editCategoryAddSubcatForm {
    width: 18rem;
  }

  #editSubcategoryContainer {
    height: 17rem;
  }
}
