<div id="container">
  <div class="feature">
    <img src="../../../../assets/landing_f1_img.jpg" alt="" class="img" />
    <div class="article-div">
      <header class="article-header">
        Znajdź notatki do przedmiotów, których się uczysz
      </header>
      <p class="article-p">
        Szukaj tego co ci jest potrzebne nie trać czasu na przeszukiwanie
        internetu. <br />
        Masz dostęp do notatek studentów z całej Polski wystarczy wpisać
        przedmiot i wybrać temat.
      </p>
    </div>
  </div>

  <div class="feature">
    <div class="article-div">
      <header class="article-header">
        Udostępniaj notatki i dziel się swoją wiedzą z innymi
      </header>
      <p class="article-p">Publikuj swoje notatki, pomóż innym w nauce.</p>
    </div>
    <img src="../../../../assets/landing_f2_img.jpg" alt="" class="img" />
  </div>

  <div class="feature">
    <img src="../../../../assets/landing_f3_img.jpg" alt="" class="img" />
    <div class="article-div">
      <header class="article-header">
        Ucz się efektywnie z pomocą fiszek do notatek
      </header>
      <p class="article-p">
        Losuj fiszki lub wybierz opcje nauki z fiszek, aby czytać fiszki po
        kolei.
      </p>
    </div>
  </div>

  <div class="feature">
    <div class="article-div">
      <header class="article-header">Znajdź ludzi do wspólnej nauki</header>
      <p class="article-p">
        Czerp korzyści w nauce w grupie lub parze, ustalaj terminy spotkań,
        wymieniaj się spostrzeżeniami na czacie.
      </p>
    </div>
    <img src="../../../../assets/landing_f4_img.jpg" alt="" class="img" />
  </div>

  <div class="feature">
    <img src="../../../../assets/landing_f5_img.jpg" alt="" class="img" />
    <div class="article-div">
      <header class="article-header">Odkrywaj nowe metody nauki</header>
      <p class="article-p">
        Poznaj metody dzięki, którym zapamiętasz więcej i nie będziesz się
        martwić o zdanie egzaminów
      </p>
    </div>
  </div>
</div>
