html,body
{
margin: 0;
padding: 0;
background-color: blue;
z-index: 0;
}

#container
{
display: flex;
justify-content: center;
align-items: center;
gap: 15rem;
flex-direction: column;
}

.feature
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: relative;
  max-width: 120rem;

}

.img
{
  // width: 450px;
  width: 28.125rem;
  // height: 360px;
  height: 22.5rem;
  background-color: orange;
  border-radius: 5%;
  box-shadow: 0.8rem 0.6rem 1.7rem 0.1rem rgba(0, 0, 0, 0.473);
}

.article-header
{
  font-family: 'poppins',sans-serif;
  font-weight: 600;
  font-size: 2rem;
  width: 26rem;
  height: 9rem;
  color: white;

}

.article-p
{

  width: 26rem;
  font-family: 'poppins',sans-serif;
  font-size: 0.875rem;
  color: white;


}

.article-gap-fix
{
  margin-top: -2rem;



}
