<div id="container">
  <h5 class="adminPanelText">Porady do nauki</h5>

  <!-- Dodawanie porady do nauki -->
  <div class="studyTipsContainer">
    <form
      class="studyTipsForm"
      [formGroup]="addHintForm"
      (ngSubmit)="addHint(addHintForm.value)"
    >
      <span class="studyTipsSpan">Dodaj nową poradę:</span>
      <textarea
        type="text"
        placeholder="treść porady do nauki"
        id="addHintTextareaId"
        class="valueTextarea"
        formControlName="content"
        [class.invalid]="
          (addHintForm.get('content')?.invalid &&
            (addHintForm.get('content')?.touched ||
              addHintForm.get('content')?.dirty)) ||
          (isSubmittedAddHintForm && addHintForm.get('content')?.untouched)
        "
      ></textarea>
      <div class="studyTipsbtnsDiv">
        <button class="createBtn">Dodaj</button>
      </div>
    </form>
  </div>

  <!-- Edytowanie porady do nauki -->
  <div class="studyTipsContainer">
    <form class="studyTipsForm" [formGroup]="editHintForm">
      <span class="studyTipsSpan">Edytuj poradę:</span>
      <div id="editTipsSelectContainer">
        <select
          id="editTipsSelect"
          formControlName="_id"
          (change)="onEditHintChange()"
          [class.invalid]="
            (editHintForm.get('_id')?.invalid &&
              (editHintForm.get('_id')?.touched ||
                editHintForm.get('_id')?.dirty)) ||
            (isSubmittedEditHintForm && editHintForm.get('_id')?.untouched)
          "
        >
          <ng-container *ngFor="let hint of hintOrigin">
            <option [value]="hint._id">{{ hint.content }}</option>
          </ng-container>

          <option value="" selected disabled hidden>wybierz poradę</option>
        </select>
        <textarea
          type="text"
          placeholder="treść porady do nauki"
          id="editHintTextareaId"
          class="valueTextarea"
          formControlName="content"
          [class.invalid]="
            (editHintForm.get('content')?.invalid &&
              (editHintForm.get('content')?.touched ||
                editHintForm.get('content')?.dirty)) ||
            (isSubmittedEditHintForm && editHintForm.get('content')?.untouched)
          "
        ></textarea>
      </div>

      <div class="studyTipsbtnsDiv">
        <button class="editBtn" type="submit" (click)="updateHint()">
          Edytuj
        </button>
        <button class="deleteBtn" type="submit" (click)="deleteHint()">
          Usuń
        </button>
      </div>
    </form>
  </div>
</div>
