#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60rem;
  padding-top: 1rem;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  gap: 1rem;
  padding-bottom: 1rem;
}

h5 {
  color: #310b61;
  text-align: center;
}

.adminPanelText {
  width: 40rem;
}

.studyTipsContainer {
  width: 40rem;
  background-color: #dddddd;
  border-radius: 0.5rem;
}

.studyTipsForm {
  width: 40rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.studyTipsSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 3rem;
}

#editTipsSelectContainer .valueTextarea {
  height: 8rem;
}

#editTipsSelect {
  background-color: #d1d1d1;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  width: 20rem;
  height: 2rem;
  padding-left: 1rem;
  transition: 60ms ease-in;
}

#editTipsSelect:focus {
  border: 1px solid #310b61;
  background-color: #cfcece;
  outline: 1px solid #310b61;
}

.valueTextarea {
  background-color: #d1d1d1;
  border: 1px solid #cecdcd;
  border-radius: 0.5rem;
  height: 12rem;
  transition: 60ms ease-in;
  width: 20rem;
  padding: 1rem;
  resize: none;
}

.valueTextarea:focus {
  border: 1px solid #310b61;
  background-color: #cfcece;
  outline: 1px solid #310b61;
  caret-color: #310b61;
}

.studyTipsbtnsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 6rem;
  height: 6rem;
  gap: 1rem;
}

#editTipsSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 12rem;
}

.createBtn {
  background-color: #87ca52;
  border: 0.1rem solid #80c04f;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.createBtn:hover {
  background-color: #89cf54;
  border: 0.1rem solid #83c551;
}

.editBtn {
  background-color: #f89e30;
  border: 0.1rem solid #f3a749;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.editBtn:hover {
  background-color: #f39d34;
  border: 0.1rem solid #f3a749;
}

.deleteBtn {
  background-color: rgba(218, 70, 96, 1);
  border: 0.1rem solid rgba(218, 70, 96, 1);
  text-decoration: none;
  color: white;
  border-radius: 2rem;
  width: 5rem;
  height: 2rem;
  font-size: 0.8rem;
}

.deleteBtn:hover {
  background-color: rgb(221, 75, 102);
  border: rgb(221, 75, 102);
}

.invalid {
  border: 0.1rem solid rgb(255, 0, 0);
  border-radius: 0.4rem;
}

select.invalid {
  outline: 0.1rem solid rgb(255, 0, 0);
  border-radius: 0.4rem;
}

@media (max-width: 1000px) {
  #container {
    width: 40rem;
  }
}

@media (max-width: 700px) {
  #container {
    width: 25rem;
  }

  .adminPanelText {
    width: 25rem;
  }

  .studyTipsContainer {
    width: 25rem;
  }

  .studyTipsForm {
    width: 25rem;
    height: 20rem;
    flex-direction: column;
    gap: 1rem;
  }

  .studyTipsSpan {
    height: 2rem;
  }

  .studyTipsbtnsDiv {
    flex-direction: row;
    width: 12rem;
    height: 2.5rem;
    gap: 1rem;
  }
}

@media (max-width: 420px) {
  #container {
    width: 18rem;
  }

  .adminPanelText {
    width: 18rem;
  }

  .studyTipsContainer {
    width: 18rem;
  }

  .studyTipsForm {
    width: 18rem;
  }

  #editTipsSelect {
    width: 13.5rem;
  }

  .valueTextarea {
    height: 12rem;
    width: 13.5rem;
  }
}
