<div id="container">
  <form action="" id="editCardForm">
    <div id="cardContent">
      <div class="questionAndAnswerContainer">
        <span class="cardSpan">Pytanie:</span>
        <textarea class="cardTextarea"></textarea>
      </div>

      <div class="questionAndAnswerContainer">
        <span class="cardSpan">Odpowiedź:</span>
        <textarea class="cardTextarea"></textarea>
      </div>
    </div>

    <div id="cardBtnsContainer">
      <button id="editCardBtn" class="cardBtns" type="submit">edytuj</button>
      <button id="deleteCardBtn" class="cardBtns" type="submit">usuń</button>
    </div>
  </form>
</div>
