
#footer-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#footer-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#footer-btns span{
  color:white;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

#footer-line
{
  width: 28rem;
  height: 0.1rem;
  background-color: #F89E30;
  border-radius: 1rem;
}

#copyright
{
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 0.8rem;
}

@media(max-width:800px)
{
  #footer-btns span{

    font-size: 0.8rem;
  }

  #footer-line
{
  width: 28rem;
  height: 0.010rem;

}

  #copyright
{
  font-size: 0.8rem;
}
}

@media(max-width:500px)
{

  #footer-line
{
  width: 25rem;
  height: 0.010rem;

}

}

@media(max-width:500px)
{
  #footer-btns span{

    font-size: 0.7rem;
  }

  #footer-line
{
  width: 16rem;
  height: 0.010rem;

}

  #copyright
{
  font-size: 0.7rem;
}
}
