<div id="containerNav">
  <span id="logo" routerLink="/notes"
    >NoteBuddy<br /><span id="logo2">To</span>Study</span
  >

  <a id="notes-btn" class="nav-btn" routerLink="/notes">Notatki</a>
  <a id="advices-btn" class="nav-btn" routerLink="/hints">Porady do nauki</a>
  <a id="learnTogether-btn" class="nav-btn" routerLink="/search-for-buddy"
    >Wyszukiwarka do wspólnej nauki</a
  >
  <a id="chat-btn" class="nav-btn" routerLink="/groups">Czat</a>
  <a id="favorite-btn" class="nav-btn" routerLink="/favorite">Ulubione</a>

  <div id="hamburger-menu">
    <a class="menu-btn hamburger-nav-btns" routerLink="/notes">Notatki</a>
    <a class="menu-btn hamburger-nav-btns" routerLink="/hints"
      >Porady do nauki</a
    >
    <a class="menu-btn hamburger-nav-btns" routerLink="/search-for-buddy"
      >Wyszukiwarka do wspólnej nauki</a
    >
    <a class="menu-btn hamburger-nav-btns" routerLink="/groups">Czat</a>
    <a class="menu-btn hamburger-nav-btns" routerLink="/favorite">Ulubione</a>

    <a href="" id="myNotes-btn" class="menu-btn" routerLink="/mynotes"
      >Moje notatki</a
    >
    <a id="settings-btn" class="menu-btn" routerLink="/settings">Ustawienia</a>
    <a id="logout-btn" class="menu-btn" (click)="logout()">Wyloguj</a>
    <a
      id="admin-btn"
      class="menu-btn"
      routerLink="/admin-panel"
      *ngIf="authService.currentUserSignal()?.role === 'admin'"
      >Panel Admina</a
    >
  </div>
  <i
    class="fa fa-sharp fa-solid fa-xmark fa-xl"
    id="hamburgerIcon-close"
    (click)="menuBarClose()"
  ></i>

  <div id="avatar-and-menu">
    <div id="avatar">
      <img
        [src]="authService.currentUserSignal()?.avatar_url"
        alt="img"
        id="avatar-img"
      />
      <span id="avatar-login-name">{{
        authService.currentUserSignal()?.login
      }}</span>
    </div>

    <div id="hamburger-btn">
      <i
        class="fa fa-solid fa-bars fa-lg"
        id="hamburgerIcon"
        (click)="menuBarOpen()"
      ></i>
    </div>
  </div>
</div>

<div id="hamburgerBar"></div>
