#containerNav
{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr  0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas:
   'logo notes advices learnTogether chat followers  user-menu';
  background-color: #310B61;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#logo
{
  grid-area: logo;
  font-family: 'poppins', sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  justify-self: flex-start;
  margin-left: 0.5rem;
}

#logo2
{
  color: #F89E30;

}

#notes-btn
{
grid-area: notes;

}

#advices-btn
{
  grid-area: advices;
}

#learnTogether-btn
{
  grid-area: learnTogether;
}

#chat-btn
{
  grid-area: chat;
}

#followers-btn
{
  grid-area: followers;

}

.nav-btn
{
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

#hamburgerBar
{
  display: none;
}

#avatar-and-menu
{
  // background-color: red;
  width: 100%;
  height: 100%;
  grid-area: user-menu;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

#avatar
{

  width: 6rem;
  height: 4rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#avatar-img
{
  height: 3rem;
  width: 3rem;
  background-color: #F89E30;
}

#avatar-login-name
{
  width: 5rem;
  height: 1.2rem;
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: paleturquoise;
}

#hamburgerIcon
{
color: white;
}


@media (max-width:1280px)
{
  #logo
{
  font-size: 1rem;
  margin-left: 0.5rem;
}

.nav-btn
{
  font-size: 0.8rem;
}


#avatar-and-menu
{
  gap: 0.2rem;

}

#avatar
{

  width: 5rem;
  height: 4rem;
}

#avatar-img
{
  height: 2.5rem;
  width: 2.5rem;
}

#avatar-login-name
{
  width: 4rem;
  height: 1.2rem;
  font-size: 0.8rem;
}
}


@media (max-width:650px)
{
  #containerNav
{
  grid-template-columns: 1fr 2fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas:
   'logo empty user-menu';
  background-color: #310B61;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.nav-btn
{
  display: none;
}

#hamburgerBar
{
  display: block;
  background-color: rgba(255, 0, 0, 0.336);
  // background-color: #310B61;
  height: 25rem;
  width: 12rem;
  position: absolute;
  right: 0;
}

#avatar
{
  display: none
  ;}

}
