<div id="container">
  <div class="column">
    <span class="courses-span">Informatyka</span>
    <span class="courses-span">Zarządzanie</span>
    <span class="courses-span">Budownictwo</span>
  </div>

  <div class="column">
    <span class="courses-span">Lekarskie</span>
    <span class="courses-span">Psychologia</span>
    <span class="courses-span">Prawo</span>
  </div>

  <div class="column">
    <span class="courses-span">Finanse i Rachunkowość</span>
    <span class="courses-span">Automatyka i robotyka</span>
    <span class="courses-span">Zielone technologie</span>
  </div>
</div>
